In [1]:
# Import Libraries and Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

### Read in US Census Bureau 2022 Household Pulse Survey data and analyze to determine fields that we will be using for our project

In [2]:
# Read the US Census Bureau 2022 Household Pulse Survey CSV files into DataFrames.
pulse2022_1q_file = 'Resources/pulse2022_puf_42.csv'
pulse2022_1q_df = pd.read_csv(pulse2022_1q_file)
pulse2022_2q_file = 'Resources/pulse2022_puf_45.csv'
pulse2022_2q_df = pd.read_csv(pulse2022_2q_file)
pulse2022_3q_file = 'Resources/pulse2022_puf_48.csv'
pulse2022_3q_df = pd.read_csv(pulse2022_3q_file)
pulse2022_4q_file = 'Resources/pulse2022_puf_52.csv'
pulse2022_4q_df = pd.read_csv(pulse2022_4q_file)
print("Input files have been read in")

Input files have been read in

In [3]:
# Set display options to show all rows and columns
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [4]:
#Display first 5 rows of 2022 dataframes
display(pulse2022_1q_df.head())
display(pulse2022_2q_df.head())
display(pulse2022_3q_df.head())
display(pulse2022_4q_df.head())

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,HWEIGHT,PWEIGHT,TBIRTH_YEAR,ABIRTH_YEAR,RHISPANIC,AHISPANIC,RRACE,ARACE,EEDUC,AEDUC,MS,EGENID_BIRTH,AGENID_BIRTH,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,AHHLD_NUMPER,THHLD_NUMKID,AHHLD_NUMKID,THHLD_NUMADLT,KIDS_LT5Y,KIDS_5_11Y,KIDS_12_17Y,ENRPUBCHK,ENRPRVCHK,ENRHMSCHK,TENROLLPUB,TENROLLPRV,TENROLLHMSCH,ENROLLNONE,ACTVDUTY1,ACTVDUTY2,ACTVDUTY3,ACTVDUTY4,ACTVDUTY5,RECVDVACC,NUMDOSES,BRAND,GETVACRV,WHYNORV1,WHYNORV2,WHYNORV3,WHYNORV4,WHYNORV5,WHYNORV6,WHYNORV7,WHYNORV8,WHYNORV9,WHYNORV10,WHYNORV11,WHYNORV12,WHYNORV13,KIDDOSES,KIDGETVAC,KIDWHYNO1,KIDWHYNO2,KIDWHYNO3,KIDWHYNO4,KIDWHYNO5,KIDWHYNO6,KIDWHYNO7,KIDWHYNO8,KIDWHYNO9,KIDWHYNO10,KIDWHYNO11,KIDWHYNO12,KIDWHYNO13,KIDWHYNO14,HADCOVID,WRKLOSSRV,ANYWORK,KINDWORK,RSNNOWRKRV,WKVOL,SETTING,UI_APPLYRV,UI_RECVRV,UI_RECVNOW,CHLDCARE,CHLDIMPCT1,CHLDIMPCT2,CHLDIMPCT3,CHLDIMPCT4,CHLDIMPCT5,CHLDIMPCT6,CHLDIMPCT7,CHLDIMPCT8,CHLDIMPCT9,CTC_YN,CTC_USE,CTCSPND1,CTCSPND2,CTCSPND3,CTCSPND4,CTCSPND5,CTCSPND6,CTCSPND7,CTCSPND8,CTCSPND9,CTCSPND10,CTCSPND11,CTCSPND12,CTCSPND13,CTCSPND14,CTCSPND15,CTCSPND16,CTCSPND17,EXPNS_DIF,ACTIVITY1,ACTIVITY2,ACTIVITY3,ACTIVITY4,ACTIVITY5,ACTIVITY6,SPND_SRC1,SPND_SRC2,SPND_SRC3,SPND_SRC4,SPND_SRC5,SPND_SRC6,SPND_SRC7,SPND_SRC8,SPND_SRC9,SPND_SRC10,SPND_SRC11,SPND_SRC12,CURFOODSUF,CHILDFOOD,FOODRSNRV1,FOODRSNRV2,FOODRSNRV3,FOODRSNRV4,FREEFOOD,SCHLFDHLP1,SCHLFDHLP2,SCHLFDHLP3,SCHLFDHLP4,NOSCHLFDHLP,SNAP_YN,ANXIOUS,WORRY,INTEREST,DOWN,PRESCRIPT,MH_SVCS,MH_NOTGET,HLTHINS1,HLTHINS2,HLTHINS3,HLTHINS4,HLTHINS5,HLTHINS6,HLTHINS7,HLTHINS8,PRIVHLTH,PUBHLTH,TELEHLTH,TH_ADLT_PHON,TH_ADLT_VID,TELECHLD,TH_CHLD_PHON,TH_CHLD_VID,PRVNTIVE,SEEING,HEARING,REMEMBERING,MOBILITY,TENURE,LIVQTRRV,RENTCUR,MORTCUR,MORTCONF,TMNTHSBHND,RENTASSIST,EVICT,FORCLOSE,ENERGY,HSE_TEMP,ENRGY_BILL,PRVRIDESHR,FEWRTRANS,SUMMER_ED1,SUMMER_ED2,SUMMER_ED3,SUMMER_ED4,TNUM_PS,PSCHNG1,PSCHNG2,PSCHNG3,PSCHNG4,PSCHNG5,PSCHNG6,PSCHNG7,PSWHYCHG1,PSWHYCHG2,PSWHYCHG3,PSWHYCHG4,PSWHYCHG5,PSWHYCHG6,PSWHYCHG7,PSWHYCHG8,PSWHYCHG9,INCOME
0,V420000001S37010496600112,42,1,NaN,2,1592.996346,3119.488426,1956,2,1,2,1,2,4,2,1,2,2,2,2,2,2,0,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-99,-99,-99,-99,1,3,1,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-99,1,2,-88,1,2,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,1,2,1,1,1,2,1,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,2,-88,-99,-99,-99,1,2,-88,-88,-88,-88,-88,2,2,1,1,1,1,2,2,2,2,1,1,2,2,2,2,2,1,2,-88,-88,-88,-88,-88,-88,1,1,1,3,1,1,-88,-88,-88,-88,-88,-88,-88,3,4,3,2,-88,NaN,NaN,NaN,NaN,0,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,3
1,V420000001S37010553600122,42,1,NaN,2,889.888311,1742.625646,1977,2,1,2,1,2,6,2,1,2,2,2,2,4,2,2,2,2,-99,1,1,1,-99,-99,2,-99,-99,-99,1,-99,-99,-99,-99,1,3,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,2,1,2,-88,1,4,2,2,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,1,2,1,2,1,2,1,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,1,-88,-88,-88,-88,-88,2,1,-99,1,-99,-99,2,2,2,2,2,2,2,2,1,2,2,2,2,2,2,2,1,2,2,-88,-88,2,-88,-88,1,2,1,1,1,2,2,-88,1,4,-88,-88,-88,-88,4,4,4,2,-88,NaN,NaN,NaN,NaN,0,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,6
2,V420000001S72011372810122,42,1,NaN,2,6782.165176,13281.189141,1972,2,2,2,1,2,1,2,1,1,2,1,2,3,2,1,2,2,-99,-99,1,1,-99,-99,-99,-99,-99,-99,1,-99,-99,-99,-99,1,3,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,2,1,2,-88,2,-88,1,1,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,3,1,1,-99,-99,-99,-99,-99,-99,-99,-99,1,1,-99,-99,-99,-99,-99,2,2,2,2,1,2,2,-99,1,1,1,-99,1,-99,-99,-99,-99,-99,-99,2,2,-99,-99,1,-99,2,-99,1,-99,-99,-99,2,1,1,1,1,2,2,2,1,2,2,2,2,2,2,2,1,2,2,-88,-88,2,-88,-88,1,1,1,1,1,2,1,-88,1,4,-88,-88,-88,-88,4,4,4,2,-88,NaN,NaN,NaN,NaN,-99,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88
3,V420000001S79010265310112,42,1,NaN,2,1239.306729,2426.874995,1970,2,1,2,1,2,4,2,1,2,2,2,2,2,2,0,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-99,-99,-99,-99,1,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,1,1,2,-88,2,-88,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,3,1,2,1,2,2,2,1,-99,1,-99,-99,-99,-99,-99,-99,-99,-99,-99,3,-88,1,-99,-99,-99,2,-88,-88,-88,-88,-88,2,2,2,2,2,2,2,2,1,2,2,2,2,2,2,2,1,2,2,-88,-88,-88,-88,-88,-88,2,2,2,1,1,1,-88,-88,-88,-88,-88,-88,-88,1,3,2,2,-88,NaN,NaN,NaN,NaN,1,-99,1,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,1,-99,1
4,V420000001S79010457210112,42,1,NaN,2,4865.798158,9528.459419,1982,2,1,2,2,2,3,2,5,2,2,2,2,3,2,1,2,2,-99,-99,-99,1,-99,-99,1,-99,-99,-99,1,-99,-99,-99,-99,1,2,1,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,1,1,4,-88,1,7,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,3,1,-99,-99,-99,-99,-99,-99,-99,-99,1,1,1,-99,-99,-99,-99,-99,4,2,2,1,1,-99,-99,-99,-99,-99,1,-99,-99,1,-99,1,1,-99,-99,4,2,-99,-99,-99,1,-99,-99,-99,-99,-99,-99,1,2,2,2,2,2,2,2,1,1,1,1,1,-99,-99,-99,1,1,-99,-88,-88,-99,-88,-88,1,1,1,1,1,3,2,1,-88,4,-88,1,-88,-88,-99,-99,-99,-99,-88,NaN,NaN,NaN,NaN,-99,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-99

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,HWEIGHT,PWEIGHT,TBIRTH_YEAR,ABIRTH_YEAR,RHISPANIC,AHISPANIC,RRACE,ARACE,EEDUC,AEDUC,MS,EGENID_BIRTH,AGENID_BIRTH,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,AHHLD_NUMPER,THHLD_NUMKID,AHHLD_NUMKID,THHLD_NUMADLT,KIDS_LT5Y,KIDS_5_11Y,KIDS_12_17Y,ENRPUBCHK,ENRPRVCHK,ENRHMSCHK,TENROLLPUB,TENROLLPRV,TENROLLHMSCH,ENROLLNONE,ACTVDUTY1,ACTVDUTY2,ACTVDUTY3,ACTVDUTY4,ACTVDUTY5,RECVDVACC,NUMDOSES,BRAND,RBOOSTER,GETVACRV,WHYNORV1,WHYNORV2,WHYNORV3,WHYNORV4,WHYNORV5,WHYNORV6,WHYNORV7,WHYNORV8,WHYNORV9,WHYNORV10,WHYNORV11,WHYNORV12,WHYNORV13,KIDDOSES_5_11Y,KIDDOSES_12_17Y,KIDGETVAC_5_11Y,KIDGETVAC_12_17Y,KIDWHYNO1,KIDWHYNO2,KIDWHYNO3,KIDWHYNO4,KIDWHYNO5,KIDWHYNO6,KIDWHYNO7,KIDWHYNO8,KIDWHYNO9,KIDWHYNO10,KIDWHYNO11,KIDWHYNO12,KIDWHYNO13,KIDWHYNO14,HADCOVID,WRKLOSSRV,ANYWORK,KINDWORK,RSNNOWRKRV,WKVOL,SETTING,UI_APPLYRV,UI_RECVRV,UI_RECVNOW,CHLDCARE,CHLDIMPCT1,CHLDIMPCT2,CHLDIMPCT3,CHLDIMPCT4,CHLDIMPCT5,CHLDIMPCT6,CHLDIMPCT7,CHLDIMPCT8,CHLDIMPCT9,CTC_CLAIM,CTC_REFUND,CTC_USE,CTCSPND1,CTCSPND2,CTCSPND3,CTCSPND4,CTCSPND5,CTCSPND6,CTCSPND7,CTCSPND8,CTCSPND9,CTCSPND10,CTCSPND11,CTCSPND12,CTCSPND13,CTCSPND14,CTCSPND15,CTCSPND16,CTCSPND17,EXPNS_DIF,ACTIVITY1,ACTIVITY2,ACTIVITY3,ACTIVITY4,ACTIVITY5,ACTIVITY6,TWDAYS,SPND_SRC1,SPND_SRC2,SPND_SRC3,SPND_SRC4,SPND_SRC5,SPND_SRC6,SPND_SRC7,SPND_SRC8,SPND_SRC9,SPND_SRC10,SPND_SRC11,SPND_SRC12,CURFOODSUF,CHILDFOOD,FOODRSNRV1,FOODRSNRV2,FOODRSNRV3,FOODRSNRV4,FREEFOOD,SCHLFDHLP1,SCHLFDHLP2,SCHLFDHLP3,SCHLFDHLP4,NOSCHLFDHLP,SNAP_YN,ANXIOUS,WORRY,INTEREST,DOWN,PRESCRIPT,MH_SVCS,MH_NOTGET,HLTHINS1,HLTHINS2,HLTHINS3,HLTHINS4,HLTHINS5,HLTHINS6,HLTHINS7,HLTHINS8,PRIVHLTH,PUBHLTH,TELEHLTH,TH_ADLT_PHON,TH_ADLT_VID,TELECHLD,TH_CHLD_PHON,TH_CHLD_VID,PRVNTIVE,SEEING,HEARING,REMEMBERING,MOBILITY,TENURE,LIVQTRRV,RENTCUR,MORTCUR,MORTCONF,TMNTHSBHND,RENTASSIST,EVICT,FORCLOSE,ENERGY,HSE_TEMP,ENRGY_BILL,PRVRIDESHR,FEWRTRANS,RCVEDUC1,RCVEDUC2,RCVEDUC3,RCVEDUC4,RCVEDUC5,RCVEDUC6,RCVEDUC7,RCVEDUC8,LEARNFMT,SCHLHRS,TNUM_PS,PSCHNG1,PSCHNG2,PSCHNG3,PSCHNG4,PSCHNG5,PSCHNG6,PSCHNG7,PSWHYCHG1,PSWHYCHG2,PSWHYCHG3,PSWHYCHG4,PSWHYCHG5,PSWHYCHG6,PSWHYCHG7,PSWHYCHG8,PSWHYCHG9,INCOME
0,V450000001S33011934810112,45,1,NaN,2,1440.933299,2800.788696,1951,2,1,2,1,2,5,2,1,2,2,2,2,2,2,0,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-99,-99,-99,-99,1,4,1,1,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,2,2,-88,7,2,-88,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,2,2,1,2,1,2,-99,1,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,1,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,2,1,1,1,1,2,2,2,2,1,1,2,2,2,2,2,1,1,2,-88,-88,-88,-88,-88,-88,2,1,2,2,1,2,-88,-88,-88,-88,-88,-88,-88,4,4,4,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,0,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2
1,V450000001S37010695700122,45,1,NaN,2,1014.976345,1972.842377,1955,2,1,2,1,2,4,2,1,1,2,1,2,2,2,0,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-99,-99,-99,-99,-99,-88,-88,-88,1,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,2,1,4,-88,2,-88,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,1,-99,-99,-99,1,-99,2,-99,-99,-99,-99,-99,1,-99,-99,-99,-99,-99,-99,1,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,2,3,2,1,1,2,2,2,-99,-99,1,-99,-99,-99,-99,-99,3,1,2,-88,-88,-88,-88,-88,-88,2,1,1,1,1,2,-88,-88,-88,-88,-88,-88,-88,4,4,3,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,0,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,4
2,V450000001S37010923700112,45,1,NaN,2,2987.998422,8711.803882,1961,2,2,2,1,2,5,2,1,1,2,1,2,3,2,0,2,3,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-99,-99,-99,-99,1,3,2,1,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,2,1,3,-88,2,-88,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,1,2,1,1,2,2,-88,1,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,1,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,2,1,1,2,1,2,2,2,2,1,2,2,2,2,2,2,1,2,2,-88,-88,-88,-88,-88,-88,1,1,1,1,2,2,-88,1,3,-88,-88,-88,-88,4,4,4,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-99,-99,1,-99,-99,-99,-99,1,-99,-99,-99,-99,-99,-99,-99,-99,4
3,V450000001S77010808800122,45,1,NaN,2,1360.333168,2644.123613,1976,2,1,2,1,2,6,2,1,1,2,1,2,2,2,0,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-99,-99,-99,-99,1,3,2,1,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,2,1,3,-88,1,4,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,1,1,1,2,1,2,1,1,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,1,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,2,2,1,2,2,1,2,2,1,2,2,2,2,2,2,2,1,2,2,-88,-88,-88,-88,-88,-88,2,1,1,1,2,2,-88,1,4,-88,-88,-88,-88,4,4,4,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,0,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,6
4,V450000001S98010434110122,45,1,NaN,2,1629.541056,3167.391699,1958,2,1,2,1,2,6,2,1,2,2,2,2,2,2,0,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-99,-99,-99,-99,1,2,1,3,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,2,1,2,-88,1,19,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,1,2,1,1,1,2,1,1,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,1,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,2,1,2,1,1,1,2,2,1,2,2,2,2,2,2,2,1,2,2,-88,-88,-88,-88,-88,-88,1,1,2,1,1,2,-88,-88,-88,-88,-88,-88,-88,4,4,4,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,0,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,8

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,HWEIGHT,PWEIGHT,TBIRTH_YEAR,ABIRTH_YEAR,RHISPANIC,AHISPANIC,RRACE,ARACE,EEDUC,AEDUC,MS,EGENID_BIRTH,AGENID_BIRTH,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,AHHLD_NUMPER,THHLD_NUMKID,AHHLD_NUMKID,THHLD_NUMADLT,KIDS_LT5Y,KIDS_5_11Y,KIDS_12_17Y,ENRPUBCHK,ENRPRVCHK,ENRHMSCHK,TENROLLPUB,TENROLLPRV,TENROLLHMSCH,ENROLLNONE,ACTVDUTY1,ACTVDUTY2,ACTVDUTY3,ACTVDUTY4,ACTVDUTY5,RECVDVACC,NUMDOSES,BOOSTERRV,WHYNOBSTR1,WHYNOBSTR2,WHYNOBSTR3,WHYNOBSTR4,WHYNOBSTR5,WHYNOBSTR6,WHYNOBSTR7,WHYNOBSTR8,WHYNOBSTR9,KIDDOSESRV,KIDDOSESRV_LT5Y,KIDDOSESRV_5_11Y,KIDDOSESRV_12_17Y,KIDBSTR_LT5Y,KIDBSTR_5_11Y,KIDBSTR_12_17Y,KIDGETVAC_LT5Y,KIDGETVAC_5_11Y,KIDGETVAC_12_17Y,KIDWHYNO1,KIDWHYNO2,KIDWHYNO3,KIDWHYNO4,KIDWHYNO5,KIDWHYNO6,KIDWHYNO7,KIDWHYNO8,KIDWHYNO9,KIDWHYNO10,KIDWHYNO11,KIDWHYNO12,KIDWHYNO13,KIDWHYNO14,HADCOVIDRV,WHENCOVID,TREATORAL,TREATMONO,RSNNOTREAT1,RSNNOTREAT2,RSNNOTREAT3,RSNNOTREAT4,RSNNOTREAT5,RSNNOTREAT6,RSNNOTREAT7,RSNNOTREAT8,RSNNOTREAT9,RSNNOTREAT10,SYMPTOMS,LONGCOVID,SYMPTMNOW,WRKLOSSRV,ANYWORK,KINDWORK,RSNNOWRKRV,WKVOL,SETTING,UI_APPLYRV,UI_RECVRV,UI_RECVNOW,CHLDCARE,CHLDIMPCT1,CHLDIMPCT2,CHLDIMPCT3,CHLDIMPCT4,CHLDIMPCT5,CHLDIMPCT6,CHLDIMPCT7,CHLDIMPCT8,CHLDIMPCT9,CTC_CLAIM,CTC_REFUND,CTC_USE,CTCSPND1,CTCSPND2,CTCSPND3,CTCSPND4,CTCSPND5,CTCSPND6,CTCSPND7,CTCSPND8,CTCSPND9,CTCSPND10,CTCSPND11,CTCSPND12,CTCSPND13,CTCSPND14,CTCSPND15,CTCSPND16,CTCSPND17,EXPNS_DIF,TWDAYS,SPND_SRC1,SPND_SRC2,SPND_SRC3,SPND_SRC4,SPND_SRC5,SPND_SRC6,SPND_SRC7,SPND_SRC8,SPND_SRC9,SPND_SRC10,SPND_SRC11,SPND_SRC12,TSPNDFOOD,TSPNDPRPD,CURFOODSUF,CHILDFOOD,FOODRSNRV1,FOODRSNRV2,FOODRSNRV3,FOODRSNRV4,FREEFOOD,SCHLFDHLP1,SCHLFDHLP2,SCHLFDHLP3,SCHLFDHLP4,NOSCHLFDHLP,SNAP_YN,ANXIOUS,WORRY,INTEREST,DOWN,HLTHINS1,HLTHINS2,HLTHINS3,HLTHINS4,HLTHINS5,HLTHINS6,HLTHINS7,HLTHINS8,PRIVHLTH,PUBHLTH,TELEHLTH,TH_ADLT_PHON,TH_ADLT_VID,TELECHLD,TH_CHLD_PHON,TH_CHLD_VID,KIDBHVR1,KIDBHVR2,KIDBHVR3,KIDBHVR4,KIDBHVR5,KIDBHVR6,KIDBHVR7,KIDBHVR8,KIDBHVR9,SEEING,HEARING,REMEMBERING,MOBILITY,SELFCARE,UNDERSTAND,TENURE,TRENTAMT,RENTCHNG,LIVQTRRV,RENTCUR,MORTCUR,TMNTHSBHND,RENTASSIST,EVICT,FORCLOSE,ENERGY,HSE_TEMP,ENRGY_BILL,PRVRIDESHR,FEWRTRANS,RCVEDUC1,RCVEDUC2,RCVEDUC3,RCVEDUC4,RCVEDUC5,RCVEDUC6,RCVEDUC7,RCVEDUC8,RCVEDUC9,LEARNFMT,SCHLHRS,TNUM_PS,PSCHNG1,PSCHNG2,PSCHNG3,PSCHNG4,PSCHNG5,PSCHNG6,PSCHNG7,PSWHYCHG1,PSWHYCHG2,PSWHYCHG3,PSWHYCHG4,PSWHYCHG5,PSWHYCHG6,PSWHYCHG7,PSWHYCHG8,PSWHYCHG9,INCOME
0,V480000001,48,41,NaN,4,1411.203878,1261.919425,1946,2,1,2,1,2,5,2,3,2,2,2,2,1,2,0,2,1,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-99,-99,-99,-99,1,2,1,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,NaN,-88,-88,NaN,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,2,-88,7,2,-88,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,3,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,4,-99,-99,1,-99,-99,-99,-99,-99,-99,-99,-99,-99,0,0,2,-88,-99,-99,-99,1,2,-88,-88,-88,-88,-88,2,1,1,2,1,2,2,1,2,2,2,2,2,2,1,1,-99,-99,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,2,2,2,1,1,3,2274,5,6,1,-88,-88,4,-88,-88,4,4,4,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,0,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2
1,V480000002,48,31,NaN,3,1021.299839,3735.204079,1958,2,1,2,1,2,5,2,1,1,2,1,2,4,2,0,2,4,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-99,-99,-99,-99,1,1,2,-99,-99,1,-99,-99,-99,-99,-99,1,-88,NaN,-88,-88,NaN,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,2,-88,7,2,-88,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,3,3,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88
2,V480000003,48,17,16980.0,3,13111.143310,49438.385982,1971,2,2,2,1,2,3,2,4,2,2,2,4,6,2,2,1,4,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-99,-99,-99,-99,1,1,1,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,NaN,-88,-88,NaN,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,2,-88,2,2,-88,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,4,4,-99,-99,-99,1,-99,-99,-99,-99,-99,-99,-99,-99,550,75,2,-88,1,-99,-99,-99,2,-88,-88,-88,-88,-88,2,4,3,2,3,2,2,2,2,2,2,2,2,2,2,1,-99,-99,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,2,1,1,1,1,3,900,1,2,2,-88,2,3,2,-88,2,4,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-99,1,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,1,1
3,V480000004,48,13,12060.0,2,2123.268644,10637.705782,1967,2,1,2,2,2,7,2,2,2,2,2,2,6,2,1,2,5,-99,1,-99,-99,-99,-99,-99,-99,-99,1,1,-99,-99,-99,-99,1,2,1,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,NaN,2,-88,NaN,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,3,1,2,2,1,1,-88,1,7,2,2,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,3,1,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,300,260,1,-88,-88,-88,-88,-88,2,-99,-99,-99,-99,1,2,1,2,2,2,1,2,2,2,2,2,2,2,1,2,2,-88,-88,2,-88,-88,-99,-99,-99,-99,-99,-99,-99,-99,1,2,1,1,3,1,1,2,-88,-88,2,-88,1,-88,-88,-88,-88,4,2,4,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,1,-99,-99,-99,-99,-99,-99,-88,-88,-88,-88,-88,-88,-88,-88,-88,4
4,V480000005,48,33,NaN,1,343.061621,1357.461102,1977,2,1,2,1,2,6,2,3,2,2,2,2,5,2,1,2,4,-99,-99,1,1,-99,-99,1,-99,-99,-99,1,-99,-99,-99,-99,1,1,1,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,NaN,-88,1,NaN,-88,1,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,1,4,-88,1,19,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,3,4,1,1,1,-99,-99,-99,-99,-99,-99,-99,-99,-99,850,50,2,3,1,-99,-99,-99,2,-99,-99,-99,-99,1,2,3,3,2,1,-99,-99,-99,1,-99,-99,-99,-99,3,1,2,-88,-88,2,-88,-88,-99,-99,-99,-99,-99,-99,-99,-99,1,1,1,2,2,1,1,2,-88,-88,2,-88,1,-88,-88,-88,-88,2,2,2,2,-88,-99,-99,-99,-99,-99,1,-99,1,-99,-88,-88,1,1,-99,-99,-99,-99,-99,-99,-88,-88,-88,-88,-88,-88,-88,-88,-88,2

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,HWEIGHT,PWEIGHT,TBIRTH_YEAR,ABIRTH_YEAR,RHISPANIC,AHISPANIC,RRACE,ARACE,EEDUC,AEDUC,MS,EGENID_BIRTH,AGENID_BIRTH,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,AHHLD_NUMPER,THHLD_NUMKID,AHHLD_NUMKID,THHLD_NUMADLT,KIDS_LT5Y,KIDS_5_11Y,KIDS_12_17Y,ENRPUBCHK,ENRPRVCHK,ENRHMSCHK,TENROLLPUB,TENROLLPRV,TENROLLHMSCH,ENROLLNONE,ACTVDUTY1,ACTVDUTY2,ACTVDUTY3,ACTVDUTY4,ACTVDUTY5,RECVDVACC,WHENDOSES,WHYNOBSTRRV1,WHYNOBSTRRV2,WHYNOBSTRRV3,WHYNOBSTRRV4,WHYNOBSTRRV5,WHYNOBSTRRV6,WHYNOBSTRRV7,WHYNOBSTRRV8,WHYNOBSTRRV9,KIDGETVAC_LT5Y,KIDGETVAC_5_11Y,KIDGETVAC_12_17Y,KIDWHYNORV1,KIDWHYNORV2,KIDWHYNORV3,KIDWHYNORV4,KIDWHYNORV5,KIDWHYNORV6,KIDWHYNORV7,KIDWHYNORV8,KIDWHYNORV9,KIDWHYNORV10,HADCOVIDRV,WHENCOVID,SYMPTOMS,LONGCOVID,SYMPTMNOW,WRKLOSSRV,ANYWORK,KINDWORK,RSNNOWRKRV,SETTING,UI_APPLYRV,UI_RECVRV,UI_RECVNOW,EXPNS_DIF,TWDAYS,TSPNDFOOD,TSPNDPRPD,CURFOODSUF,CHILDFOOD,FOODRSNRV1,FOODRSNRV2,FOODRSNRV3,FOODRSNRV4,FREEFOOD,SCHLFDHLP_RV1,SCHLFDHLP_RV2,SCHLFDHLP_RV3,SCHLFDHLP_RV4,SCHLFDHLP_RV5,FDBENEFIT1,ANXIOUS,WORRY,INTEREST,DOWN,HLTHINS1,HLTHINS2,HLTHINS3,HLTHINS4,HLTHINS5,HLTHINS6,HLTHINS7,HLTHINS8,PRIVHLTH,PUBHLTH,KIDBHVR1,KIDBHVR2,KIDBHVR3,KIDBHVR4,KIDBHVR5,KIDBHVR6,KIDBHVR7,KIDBHVR8,KIDBHVR9,SEEING,HEARING,REMEMBERING,MOBILITY,SELFCARE,UNDERSTAND,TENURE,TRENTAMT,RENTCHNG,LIVQTRRV,RENTCUR,MORTCUR,TMNTHSBHND,RENTASSIST,EVICT,FORCLOSE,ENERGY,HSE_TEMP,ENRGY_BILL,RCVEDUC1,RCVEDUC2,RCVEDUC3,RCVEDUC4,RCVEDUC5,RCVEDUC6,RCVEDUC7,RCVEDUC8,RCVEDUC9,INCOME,SYMPTMIMPCT,CCARETYP1,CCARETYP2,CCARETYP3,CCARETYP4,CCARETYP5,CCARETYP6,CCARETYP7,CCARETYP8,CCAREPAY,TCCARECOST,PRICECHNG,PRICESTRESS,PRICECOPE1,PRICECOPE2,PRICECOPE3,PRICECOPE4,PRICECOPE5,PRICECOPE6,PRICECOPE7,PRICECOPE8,PRICECOPE9,PRICECOPE10,PRICECOPE11,PRICECOPE12,PRICECOPE13,PRICECOPE14,PRICECOPE15,PRICECOPE16,PRICECOPE17,PRICECOPE18,PRICECOPE19,PRICECONCRN,TWDAYS_RESP,SPND_SRCRV1,SPND_SRCRV2,SPND_SRCRV3,SPND_SRCRV4,SPND_SRCRV5,SPND_SRCRV6,SPND_SRCRV7,SPND_SRCRV8,SPND_SRCRV9,SPND_SRCRV10,SPND_SRCRV11,FRMLA_YN,FRMLA_AGE,FRMLA_AFFCT,FRMLA_DEAL1,FRMLA_DEAL2,FRMLA_DEAL3,FRMLA_DEAL4,FRMLA_DEAL5,FRMLA_DEAL6,FRMLA_DEAL7,FRMLA_DEAL8,FRMLA_DEAL9,FRMLA_DEAL10,FRMLA_DIFFCLT,FRMLA_AMNTRV,FRMLA_TYP1,FRMLA_TYP2,FRMLA_TYP3,FRMLA_TYP4,GAS1,GAS2,GAS3,GAS4,KIDVACWHEN_LT5Y,KIDVACWHEN_5_11Y,KIDVACWHEN_12_17Y,RSNNOWRK_WHY,SCHLFDHLP_RV6,SCHLFDHLP_RV7,SCHLFDHLP_RV8,FDBENEFIT2,SCHLFDEXPNS,FRMLA_DEAL11,FRMLA_DEAL12,FRMLA_TYP5,ND_DISPLACE,ND_TYPE1,ND_TYPE2,ND_TYPE3,ND_TYPE4,ND_TYPE5,ND_HOWLONG,ND_DAMAGE,ND_FDSHRTAGE,ND_WATER,ND_ELCTRC,ND_UNSANITARY,ND_ISOLATE,ND_CRIME,ND_SCAM,MEDICAID,MEDICAID_NO
0,V520000001,52,44,NaN,1,297.631871,1123.798115,1968,2,1,2,1,2,7,2,1,2,2,2,2,4,2,0,2,4,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-99,-99,-99,-99,1,1,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,2,2,-88,12,-88,2,2,-88,1,4,200,100,1,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-99,1,1,1,2,1,2,2,2,2,2,2,2,1,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,3,1,1,4,4,1,1,-88,-88,2,-88,-88,-88,-88,-88,-88,4,4,4,-88,-88,-88,-88,-88,-88,-88,-88,-88,5,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,3,1,1,-99,-99,-99,-99,-99,-99,-99,-99,1,-99,1,-99,-99,-99,-99,-99,-99,3,-88,1,1,1,-99,-99,-99,-99,-99,-99,-99,-99,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-99,-99,-99,1,-88,-88,-88,-88,-88,-88,-88,-99,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,3,-88
1,V520000002,52,5,NaN,2,544.644346,1009.342253,1959,2,1,2,1,2,6,2,1,2,2,2,2,2,2,0,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-99,-99,-99,-99,1,2,-99,-99,-99,-99,-99,-99,-99,1,-99,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,2,2,-88,1,-88,2,2,-88,1,4,400,140,1,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-99,1,1,1,1,1,2,2,2,2,2,2,2,1,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,3,1,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,2,-88,1,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-99,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,3,-88
2,V520000003,52,48,NaN,2,187.423803,346.468149,1946,2,1,2,1,2,6,2,1,1,2,1,2,2,2,0,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-99,-99,-99,-99,1,2,-99,1,-99,-99,-99,-99,-99,-99,-99,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,2,3,2,2,2,2,-88,7,-88,2,2,-88,2,4,120,50,1,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-99,2,2,2,2,-99,-99,1,-99,-99,-99,-99,-99,3,1,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,2,2,2,1,1,1,-88,-88,2,-88,-88,-88,-88,-88,-88,4,3,4,-88,-88,-88,-88,-88,-88,-88,-88,-88,6,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,3,1,1,-99,1,1,1,-99,1,-99,-99,-99,1,1,-99,-99,-99,-99,-99,-99,1,-88,1,1,-99,-99,-99,-99,-99,-99,-99,-99,-99,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-99,-99,-99,1,-88,-88,-88,-88,-88,-88,-88,-99,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88
3,V520000004,52,11,47900.0,2,116.768607,199.033089,1984,2,1,2,1,2,6,2,1,1,2,1,1,2,2,0,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-99,-99,-99,-99,1,1,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,2,1,1,-88,18,2,2,-88,1,3,150,200,1,-88,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-99,2,1,1,1,1,2,2,2,2,2,2,2,1,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,1,2,1,1,1,3,-99,4,6,1,-88,-88,4,-88,-88,4,4,4,-88,-88,-88,-88,-88,-88,-88,-88,-88,7,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,2,1,1,-99,1,-99,-99,-99,1,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,3,3,1,-99,-99,-99,-99,-99,-99,-99,-99,-99,-99,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-99,1,-99,-88,-88,-88,-88,-88,-88,-88,-99,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,3,-88
4,V520000005,52,28,NaN,2,700.047941,1329.911657,1963,2,1,2,1,1,5,1,1,2,2,2,2,2,2,0,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-99,-99,-99,-99,1,2,-99,-99,1,-99,-99,-99,-99,-99,-99,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,2,3,2,2,1,2,-88,8,-88,2,2,-88,3,4,70,0,2,-88,-99,-99,-99,1,2,-88,-88,-88,-88,-88,-99,2,2,2,2,2,2,2,2,2,2,2,2,2,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,1,1,1,1,1,2,-88,-88,2,-88,1,-88,-88,-88,-88,2,4,4,-88,-88,-88,-88,-88,-88,-88,-88,-88,3,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,2,1,1,-99,1,1,1,1,1,1,-99,1,-99,1,-99,-99,-99,-99,-99,-99,1,-88,-99,-99,1,-99,-99,-99,-99,-99,-99,-99,-99,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,1,-99,-99,-99,-88,-88,-88,-99,-88,-88,-88,-99,-88,-88,-88,-88,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,3,-88

In [5]:
#Get shape of data files
display(pulse2022_1q_df.shape)
display(pulse2022_2q_df.shape)
display(pulse2022_3q_df.shape)
display(pulse2022_4q_df.shape)

(75482, 208)

(61767, 219)

(46801, 240)

(70685, 243)

In [6]:
#Get information about data fields
display(pulse2022_1q_df.info())
display(pulse2022_2q_df.info())
display(pulse2022_3q_df.info())
display(pulse2022_4q_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75482 entries, 0 to 75481
Columns: 208 entries, SCRAM to INCOME
dtypes: float64(7), int64(200), object(1)
memory usage: 119.8+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61767 entries, 0 to 61766
Columns: 219 entries, SCRAM to INCOME
dtypes: float64(3), int64(215), object(1)
memory usage: 103.2+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46801 entries, 0 to 46800
Columns: 240 entries, SCRAM to INCOME
dtypes: float64(5), int64(234), object(1)
memory usage: 85.7+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70685 entries, 0 to 70684
Columns: 243 entries, SCRAM to MEDICAID_NO
dtypes: float64(3), int64(239), object(1)
memory usage: 131.0+ MB

None

In [7]:
# Describe non-numeric fields
display(pulse2022_1q_df.describe(include='O'))
display(pulse2022_2q_df.describe(include='O'))
display(pulse2022_3q_df.describe(include='O'))
display(pulse2022_4q_df.describe(include='O'))

                            SCRAM
count                       75482
unique                      75482
top     V420000001S37010496600112
freq                            1

                            SCRAM
count                       61767
unique                      61767
top     V450000001S33011934810112
freq                            1

             SCRAM
count        46801
unique       46801
top     V480000001
freq             1

             SCRAM
count        70685
unique       70685
top     V520000001
freq             1

In [8]:
# Get list of columns
pulse2022_1q_df_cols_list = pulse2022_1q_df.columns
display(pulse2022_1q_df_cols_list)
pulse2022_2q_df_cols_list = pulse2022_2q_df.columns
display(pulse2022_2q_df_cols_list)
pulse2022_3q_df_cols_list = pulse2022_3q_df.columns
display(pulse2022_3q_df_cols_list)
pulse2022_4q_df_cols_list = pulse2022_4q_df.columns
display(pulse2022_4q_df_cols_list)

Index(['SCRAM', 'WEEK', 'EST_ST', 'EST_MSA', 'REGION', 'HWEIGHT', 'PWEIGHT',
       'TBIRTH_YEAR', 'ABIRTH_YEAR', 'RHISPANIC',
       ...
       'PSWHYCHG1', 'PSWHYCHG2', 'PSWHYCHG3', 'PSWHYCHG4', 'PSWHYCHG5',
       'PSWHYCHG6', 'PSWHYCHG7', 'PSWHYCHG8', 'PSWHYCHG9', 'INCOME'],
      dtype='object', length=208)

Index(['SCRAM', 'WEEK', 'EST_ST', 'EST_MSA', 'REGION', 'HWEIGHT', 'PWEIGHT',
       'TBIRTH_YEAR', 'ABIRTH_YEAR', 'RHISPANIC',
       ...
       'PSWHYCHG1', 'PSWHYCHG2', 'PSWHYCHG3', 'PSWHYCHG4', 'PSWHYCHG5',
       'PSWHYCHG6', 'PSWHYCHG7', 'PSWHYCHG8', 'PSWHYCHG9', 'INCOME'],
      dtype='object', length=219)

Index(['SCRAM', 'WEEK', 'EST_ST', 'EST_MSA', 'REGION', 'HWEIGHT', 'PWEIGHT',
       'TBIRTH_YEAR', 'ABIRTH_YEAR', 'RHISPANIC',
       ...
       'PSWHYCHG1', 'PSWHYCHG2', 'PSWHYCHG3', 'PSWHYCHG4', 'PSWHYCHG5',
       'PSWHYCHG6', 'PSWHYCHG7', 'PSWHYCHG8', 'PSWHYCHG9', 'INCOME'],
      dtype='object', length=240)

Index(['SCRAM', 'WEEK', 'EST_ST', 'EST_MSA', 'REGION', 'HWEIGHT', 'PWEIGHT',
       'TBIRTH_YEAR', 'ABIRTH_YEAR', 'RHISPANIC',
       ...
       'ND_DAMAGE', 'ND_FDSHRTAGE', 'ND_WATER', 'ND_ELCTRC', 'ND_UNSANITARY',
       'ND_ISOLATE', 'ND_CRIME', 'ND_SCAM', 'MEDICAID', 'MEDICAID_NO'],
      dtype='object', length=243)

In [9]:
# Identify survey columns that may be used for analysis

survey_cols_2022_1q = ['SCRAM', 'WEEK', 'EST_ST', 'EST_MSA', 'REGION','TBIRTH_YEAR', 'RHISPANIC', 'RRACE',
                         'EEDUC', 'MS', 'GENID_DESCRIBE', 'SEXUAL_ORIENTATION', 'THHLD_NUMPER', 'RECVDVACC', 'HADCOVID',
                         'ANXIOUS', 'WORRY', 'INTEREST', 'DOWN', 'SEEING', 'HEARING', 'MOBILITY',
                         'REMEMBERING', 'WRKLOSSRV', 'ANYWORK', 'KINDWORK', 'EXPNS_DIF', 'CURFOODSUF',
                         'FREEFOOD', 'TENURE', 'PRIVHLTH', 'PUBHLTH', 'INCOME', 'HWEIGHT',
                         'PWEIGHT', 'ACTIVITY2']
# Survey columns that are not in the 1q file:
#     'TWDAYS' - We captured 'ACTIVITY2' (Teleworked or Worked from Home).
#                We may be able to use this column field in conjunction with 'TWDAYS' column in our analysis.
#                We will assess this and determine if we want to include in our analysis.
#     'LONGCOVID', 'SELFCARE', 'UNDERSTAND', 'TSPNDFOOD', 'TSPNDPRPD', 'WHENCOVID'
#     'SYMPTMIMPCT', 'PRICECHNG', 'PRICESTRESS', 'PRICECONCRN', 'ND_DISPLACE', 'MEDICAID'

survey_cols_2022_2q = ['SCRAM', 'WEEK', 'EST_ST', 'EST_MSA', 'REGION','TBIRTH_YEAR', 'RHISPANIC', 'RRACE',
                         'EEDUC', 'MS', 'GENID_DESCRIBE', 'SEXUAL_ORIENTATION', 'THHLD_NUMPER', 'RECVDVACC', 'HADCOVID',
                         'ANXIOUS', 'WORRY', 'INTEREST', 'DOWN', 'SEEING', 'HEARING', 'MOBILITY',
                         'REMEMBERING', 'WRKLOSSRV', 'ANYWORK', 'KINDWORK', 'EXPNS_DIF', 'TWDAYS', 'CURFOODSUF',
                         'FREEFOOD', 'TENURE', 'PRIVHLTH', 'PUBHLTH', 'INCOME', 'HWEIGHT',
                         'PWEIGHT']
# Survey columns that are not in the 2q file:
#     'LONGCOVID', 'SELFCARE', 'UNDERSTAND', 'TSPNDFOOD', 'TSPNDPRPD', 'WHENCOVID'
#     'SYMPTMIMPCT', 'PRICECHNG', 'PRICESTRESS', 'PRICECONCRN', 'ND_DISPLACE', 'MEDICAID'

survey_cols_2022_3q = ['SCRAM', 'WEEK', 'EST_ST', 'EST_MSA', 'REGION','TBIRTH_YEAR', 'RHISPANIC', 'RRACE',
                         'EEDUC', 'MS', 'GENID_DESCRIBE', 'SEXUAL_ORIENTATION', 'THHLD_NUMPER', 'RECVDVACC', 'HADCOVIDRV',
                         'LONGCOVID', 'ANXIOUS', 'WORRY', 'INTEREST', 'DOWN', 'SEEING', 'HEARING', 'MOBILITY',
                         'REMEMBERING', 'SELFCARE', 'UNDERSTAND', 'WRKLOSSRV', 'ANYWORK', 'KINDWORK',
                         'EXPNS_DIF', 'TWDAYS', 'CURFOODSUF', 'FREEFOOD', 'TSPNDFOOD',
                         'TSPNDPRPD', 'TENURE', 'PRIVHLTH', 'PUBHLTH', 'INCOME', 'HWEIGHT',
                         'PWEIGHT', 'WHENCOVID']
# Survey columns that are not in the 3q file:
#     'SYMPTMIMPCT', 'PRICECHNG', 'PRICESTRESS', 'PRICECONCRN', 'ND_DISPLACE', 'MEDICAID'

survey_cols_2022_4q = ['SCRAM', 'WEEK', 'EST_ST', 'EST_MSA', 'REGION','TBIRTH_YEAR', 'RHISPANIC', 'RRACE',
                         'EEDUC', 'MS', 'GENID_DESCRIBE', 'SEXUAL_ORIENTATION', 'THHLD_NUMPER', 'RECVDVACC', 'HADCOVIDRV',
                         'LONGCOVID', 'SYMPTMIMPCT','ANXIOUS', 'WORRY', 'INTEREST', 'DOWN', 'SEEING', 'HEARING', 'MOBILITY',
                         'REMEMBERING', 'SELFCARE', 'UNDERSTAND', 'WRKLOSSRV', 'ANYWORK', 'KINDWORK', 'PRICECHNG',
                         'PRICESTRESS', 'PRICECONCRN', 'EXPNS_DIF', 'TWDAYS', 'CURFOODSUF', 'FREEFOOD', 'TSPNDFOOD',
                         'TSPNDPRPD', 'ND_DISPLACE', 'TENURE', 'PRIVHLTH', 'PUBHLTH','MEDICAID', 'INCOME', 'HWEIGHT',
                         'PWEIGHT', 'WHENCOVID']
# All survey columns are in 4q file.
# Note:  WHENCOVID response is only one column, it was split into three responses WHENCOVIDRV1,
#        WHENCOVIDRV2, and WHENCOVIDRV3 in later surveys

In [10]:
# Create smaller dataframes to use for analysis
pulse2022_1q_analysis_df = pulse2022_1q_df[survey_cols_2022_1q]
pulse2022_2q_analysis_df = pulse2022_2q_df[survey_cols_2022_2q]
pulse2022_3q_analysis_df = pulse2022_3q_df[survey_cols_2022_3q]
pulse2022_4q_analysis_df = pulse2022_4q_df[survey_cols_2022_4q]

In [11]:
# Display first 5 rows of analysis dataframes
display(pulse2022_1q_analysis_df.head())
display(pulse2022_2q_analysis_df.head())
display(pulse2022_3q_analysis_df.head())
display(pulse2022_4q_analysis_df.head())

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVID,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,WRKLOSSRV,ANYWORK,KINDWORK,EXPNS_DIF,CURFOODSUF,FREEFOOD,TENURE,PRIVHLTH,PUBHLTH,INCOME,HWEIGHT,PWEIGHT,ACTIVITY2
0,V420000001S37010496600112,42,1,NaN,2,1956,1,1,4,1,2,2,2,1,1,2,1,1,1,1,1,3,1,-99,1,2,2,2,2,1,2,1,3,1592.996346,3119.488426,2
1,V420000001S37010553600122,42,1,NaN,2,1977,1,1,6,1,2,2,4,1,2,2,2,2,2,2,1,1,1,2,1,2,1,1,2,2,1,2,6,889.888311,1742.625646,2
2,V420000001S72011372810122,42,1,NaN,2,1972,2,1,1,1,1,2,3,1,2,1,1,1,1,1,1,1,1,2,1,2,2,2,2,2,1,2,-88,6782.165176,13281.189141,2
3,V420000001S79010265310112,42,1,NaN,2,1970,1,1,4,1,2,2,2,1,2,2,2,2,2,2,2,1,2,1,1,2,3,3,2,1,1,2,1,1239.306729,2426.874995,2
4,V420000001S79010457210112,42,1,NaN,2,1982,1,2,3,5,2,2,3,1,1,2,2,2,2,1,1,1,1,1,1,4,4,4,-99,3,1,1,-99,4865.798158,9528.459419,2

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVID,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,WRKLOSSRV,ANYWORK,KINDWORK,EXPNS_DIF,TWDAYS,CURFOODSUF,FREEFOOD,TENURE,PRIVHLTH,PUBHLTH,INCOME,HWEIGHT,PWEIGHT
0,V450000001S33011934810112,45,1,NaN,2,1951,1,1,5,1,2,2,2,1,1,1,1,1,1,2,1,2,2,2,2,-88,1,-99,1,2,1,1,1,2,1440.933299,2800.788696
1,V450000001S37010695700122,45,1,NaN,2,1955,1,1,4,1,1,2,2,-99,2,3,2,1,1,2,1,1,1,2,1,4,2,2,1,2,1,3,1,4,1014.976345,1972.842377
2,V450000001S37010923700112,45,1,NaN,2,1961,2,1,5,1,1,2,3,1,2,1,1,2,1,1,1,1,1,2,1,3,2,-88,1,2,2,1,2,4,2987.998422,8711.803882
3,V450000001S77010808800122,45,1,NaN,2,1976,1,1,6,1,1,2,2,1,2,2,1,2,2,2,1,1,1,2,1,3,1,1,1,2,2,1,2,6,1360.333168,2644.123613
4,V450000001S98010434110122,45,1,NaN,2,1958,1,1,6,1,2,2,2,1,1,1,2,1,1,1,1,1,2,2,1,2,1,1,1,2,1,1,2,8,1629.541056,3167.391699

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVIDRV,LONGCOVID,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,SELFCARE,UNDERSTAND,WRKLOSSRV,ANYWORK,KINDWORK,EXPNS_DIF,TWDAYS,CURFOODSUF,FREEFOOD,TSPNDFOOD,TSPNDPRPD,TENURE,PRIVHLTH,PUBHLTH,INCOME,HWEIGHT,PWEIGHT,WHENCOVID
0,V480000001,48,41,NaN,4,1946,1,1,5,3,2,2,1,1,2,-88,1,1,2,1,1,2,2,2,1,1,2,2,-88,2,4,2,2,0,0,3,2,1,2,1411.203878,1261.919425,-88
1,V480000002,48,31,NaN,3,1958,1,1,5,1,1,2,4,1,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,2,-88,-88,-88,-88,-88,-88,-88,-88,3,3,-88,1021.299839,3735.204079,-88
2,V480000003,48,17,16980.0,3,1971,2,1,3,4,2,4,6,1,2,-88,4,3,2,3,2,2,1,1,1,1,1,2,-88,4,4,2,2,550,75,3,2,2,1,13111.143310,49438.385982,-88
3,V480000004,48,13,12060.0,2,1967,1,2,7,2,2,2,6,1,1,1,1,2,2,2,2,1,3,1,1,1,2,1,1,1,3,1,2,300,260,2,1,2,4,2123.268644,10637.705782,2
4,V480000005,48,33,NaN,1,1977,1,1,6,3,2,2,5,1,2,-88,3,3,2,1,1,1,2,2,1,1,2,1,4,3,4,2,2,850,50,2,3,1,2,343.061621,1357.461102,-88

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVIDRV,LONGCOVID,SYMPTMIMPCT,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,SELFCARE,UNDERSTAND,WRKLOSSRV,ANYWORK,KINDWORK,PRICECHNG,PRICESTRESS,PRICECONCRN,EXPNS_DIF,TWDAYS,CURFOODSUF,FREEFOOD,TSPNDFOOD,TSPNDPRPD,ND_DISPLACE,TENURE,PRIVHLTH,PUBHLTH,MEDICAID,INCOME,HWEIGHT,PWEIGHT,WHENCOVID
0,V520000001,52,44,NaN,1,1968,1,1,7,1,2,2,4,1,2,-88,-88,1,1,1,2,3,1,4,1,4,1,2,2,-88,1,3,3,1,4,1,2,200,100,2,1,1,2,3,5,297.631871,1123.798115,-88
1,V520000002,52,5,NaN,2,1959,1,1,6,1,2,2,2,1,2,-88,-88,1,1,1,1,-88,-88,-88,-88,-88,-88,2,2,-88,1,3,2,1,4,1,2,400,140,2,-88,1,2,3,-88,544.644346,1009.342253,-88
2,V520000003,52,48,NaN,2,1946,1,1,6,1,1,2,2,1,1,2,-88,2,2,2,2,1,2,2,2,1,1,2,2,-88,1,3,1,2,4,1,2,120,50,2,1,3,1,-88,6,187.423803,346.468149,2
3,V520000004,52,11,47900.0,2,1984,1,1,6,1,1,1,2,1,2,-88,-88,2,1,1,1,1,1,1,2,1,1,2,1,1,1,2,3,1,3,1,2,150,200,2,3,1,2,3,7,116.768607,199.033089,-88
4,V520000005,52,28,NaN,2,1963,1,1,5,1,2,2,2,1,1,2,-88,2,2,2,2,1,1,1,1,1,1,1,2,-88,1,2,1,3,4,2,2,70,0,2,2,2,2,3,3,700.047941,1329.911657,2

In [12]:
# Save first cut of analysis files to csv for review, if needed
#pulse2022_1q_analysis_df.to_csv('Resources/pulse2022_1q_analysis_df.csv', index=False)
#pulse2022_2q_analysis_df.to_csv('Resources/pulse2022_2q_analysis_df.csv', index=False)
#pulse2022_3q_analysis_df.to_csv('Resources/pulse2022_3q_analysis_df.csv', index=False)
#pulse2022_4q_analysis_df.to_csv('Resources/pulse2022_4q_analysis_df.csv', index=False)
#print("First cut of analysis files to csv for review have been saved")

In [13]:
# Create Restore point:  Make dataframe copies before cleaning
pulse2022_1q_analysis_wrk_df = pulse2022_1q_analysis_df.copy()
pulse2022_2q_analysis_wrk_df = pulse2022_2q_analysis_df.copy()
pulse2022_3q_analysis_wrk_df = pulse2022_3q_analysis_df.copy()
pulse2022_4q_analysis_wrk_df = pulse2022_4q_analysis_df.copy()
print("pulse2022 1q-4q analysis_df -- Restore point created")

pulse2022 1q-4q analysis_df -- Restore point created

In [14]:
# Display first 5 rows of analysis work dataframes
display(pulse2022_1q_analysis_wrk_df.head())
display(pulse2022_2q_analysis_wrk_df.head())
display(pulse2022_3q_analysis_wrk_df.head())
display(pulse2022_4q_analysis_wrk_df.head())

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVID,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,WRKLOSSRV,ANYWORK,KINDWORK,EXPNS_DIF,CURFOODSUF,FREEFOOD,TENURE,PRIVHLTH,PUBHLTH,INCOME,HWEIGHT,PWEIGHT,ACTIVITY2
0,V420000001S37010496600112,42,1,NaN,2,1956,1,1,4,1,2,2,2,1,1,2,1,1,1,1,1,3,1,-99,1,2,2,2,2,1,2,1,3,1592.996346,3119.488426,2
1,V420000001S37010553600122,42,1,NaN,2,1977,1,1,6,1,2,2,4,1,2,2,2,2,2,2,1,1,1,2,1,2,1,1,2,2,1,2,6,889.888311,1742.625646,2
2,V420000001S72011372810122,42,1,NaN,2,1972,2,1,1,1,1,2,3,1,2,1,1,1,1,1,1,1,1,2,1,2,2,2,2,2,1,2,-88,6782.165176,13281.189141,2
3,V420000001S79010265310112,42,1,NaN,2,1970,1,1,4,1,2,2,2,1,2,2,2,2,2,2,2,1,2,1,1,2,3,3,2,1,1,2,1,1239.306729,2426.874995,2
4,V420000001S79010457210112,42,1,NaN,2,1982,1,2,3,5,2,2,3,1,1,2,2,2,2,1,1,1,1,1,1,4,4,4,-99,3,1,1,-99,4865.798158,9528.459419,2

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVID,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,WRKLOSSRV,ANYWORK,KINDWORK,EXPNS_DIF,TWDAYS,CURFOODSUF,FREEFOOD,TENURE,PRIVHLTH,PUBHLTH,INCOME,HWEIGHT,PWEIGHT
0,V450000001S33011934810112,45,1,NaN,2,1951,1,1,5,1,2,2,2,1,1,1,1,1,1,2,1,2,2,2,2,-88,1,-99,1,2,1,1,1,2,1440.933299,2800.788696
1,V450000001S37010695700122,45,1,NaN,2,1955,1,1,4,1,1,2,2,-99,2,3,2,1,1,2,1,1,1,2,1,4,2,2,1,2,1,3,1,4,1014.976345,1972.842377
2,V450000001S37010923700112,45,1,NaN,2,1961,2,1,5,1,1,2,3,1,2,1,1,2,1,1,1,1,1,2,1,3,2,-88,1,2,2,1,2,4,2987.998422,8711.803882
3,V450000001S77010808800122,45,1,NaN,2,1976,1,1,6,1,1,2,2,1,2,2,1,2,2,2,1,1,1,2,1,3,1,1,1,2,2,1,2,6,1360.333168,2644.123613
4,V450000001S98010434110122,45,1,NaN,2,1958,1,1,6,1,2,2,2,1,1,1,2,1,1,1,1,1,2,2,1,2,1,1,1,2,1,1,2,8,1629.541056,3167.391699

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVIDRV,LONGCOVID,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,SELFCARE,UNDERSTAND,WRKLOSSRV,ANYWORK,KINDWORK,EXPNS_DIF,TWDAYS,CURFOODSUF,FREEFOOD,TSPNDFOOD,TSPNDPRPD,TENURE,PRIVHLTH,PUBHLTH,INCOME,HWEIGHT,PWEIGHT,WHENCOVID
0,V480000001,48,41,NaN,4,1946,1,1,5,3,2,2,1,1,2,-88,1,1,2,1,1,2,2,2,1,1,2,2,-88,2,4,2,2,0,0,3,2,1,2,1411.203878,1261.919425,-88
1,V480000002,48,31,NaN,3,1958,1,1,5,1,1,2,4,1,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,2,-88,-88,-88,-88,-88,-88,-88,-88,3,3,-88,1021.299839,3735.204079,-88
2,V480000003,48,17,16980.0,3,1971,2,1,3,4,2,4,6,1,2,-88,4,3,2,3,2,2,1,1,1,1,1,2,-88,4,4,2,2,550,75,3,2,2,1,13111.143310,49438.385982,-88
3,V480000004,48,13,12060.0,2,1967,1,2,7,2,2,2,6,1,1,1,1,2,2,2,2,1,3,1,1,1,2,1,1,1,3,1,2,300,260,2,1,2,4,2123.268644,10637.705782,2
4,V480000005,48,33,NaN,1,1977,1,1,6,3,2,2,5,1,2,-88,3,3,2,1,1,1,2,2,1,1,2,1,4,3,4,2,2,850,50,2,3,1,2,343.061621,1357.461102,-88

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVIDRV,LONGCOVID,SYMPTMIMPCT,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,SELFCARE,UNDERSTAND,WRKLOSSRV,ANYWORK,KINDWORK,PRICECHNG,PRICESTRESS,PRICECONCRN,EXPNS_DIF,TWDAYS,CURFOODSUF,FREEFOOD,TSPNDFOOD,TSPNDPRPD,ND_DISPLACE,TENURE,PRIVHLTH,PUBHLTH,MEDICAID,INCOME,HWEIGHT,PWEIGHT,WHENCOVID
0,V520000001,52,44,NaN,1,1968,1,1,7,1,2,2,4,1,2,-88,-88,1,1,1,2,3,1,4,1,4,1,2,2,-88,1,3,3,1,4,1,2,200,100,2,1,1,2,3,5,297.631871,1123.798115,-88
1,V520000002,52,5,NaN,2,1959,1,1,6,1,2,2,2,1,2,-88,-88,1,1,1,1,-88,-88,-88,-88,-88,-88,2,2,-88,1,3,2,1,4,1,2,400,140,2,-88,1,2,3,-88,544.644346,1009.342253,-88
2,V520000003,52,48,NaN,2,1946,1,1,6,1,1,2,2,1,1,2,-88,2,2,2,2,1,2,2,2,1,1,2,2,-88,1,3,1,2,4,1,2,120,50,2,1,3,1,-88,6,187.423803,346.468149,2
3,V520000004,52,11,47900.0,2,1984,1,1,6,1,1,1,2,1,2,-88,-88,2,1,1,1,1,1,1,2,1,1,2,1,1,1,2,3,1,3,1,2,150,200,2,3,1,2,3,7,116.768607,199.033089,-88
4,V520000005,52,28,NaN,2,1963,1,1,5,1,2,2,2,1,1,2,-88,2,2,2,2,1,1,1,1,1,1,1,2,-88,1,2,1,3,4,2,2,70,0,2,2,2,2,3,3,700.047941,1329.911657,2

### Clean data to make it consistent with other survey data for analysis

In [15]:
# Clean WHENCOVID columns and create new WHENCOVID_CLEAN column

# Function to change -88 and -99 (No Response) to common response of 99 for analysis
def clean_negative_values(response):
    """Change -88 and -99 (No Response) to common response of 99"""

    if response in [-88, -99]:
        return 99
    else:
        return response

# Create new WHENCOVID_CLEAN column and load to DataFrame using clean_negative_values function for 3q and 4q files
# Set 1q and 2q file responses to 99 (No Response) because data was not collected at that time
pulse2022_1q_analysis_wrk_df['WHENCOVID_CLEAN'] = 99
pulse2022_2q_analysis_wrk_df['WHENCOVID_CLEAN'] = 99
pulse2022_3q_analysis_wrk_df['WHENCOVID_CLEAN'] = pulse2022_3q_analysis_wrk_df['WHENCOVID'].apply(clean_negative_values)
pulse2022_4q_analysis_wrk_df['WHENCOVID_CLEAN'] = pulse2022_4q_analysis_wrk_df['WHENCOVID'].apply(clean_negative_values)

display(pulse2022_1q_analysis_wrk_df.head())
display(pulse2022_2q_analysis_wrk_df.head())
display(pulse2022_3q_analysis_wrk_df.head())
display(pulse2022_4q_analysis_wrk_df.head())

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVID,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,WRKLOSSRV,ANYWORK,KINDWORK,EXPNS_DIF,CURFOODSUF,FREEFOOD,TENURE,PRIVHLTH,PUBHLTH,INCOME,HWEIGHT,PWEIGHT,ACTIVITY2,WHENCOVID_CLEAN
0,V420000001S37010496600112,42,1,NaN,2,1956,1,1,4,1,2,2,2,1,1,2,1,1,1,1,1,3,1,-99,1,2,2,2,2,1,2,1,3,1592.996346,3119.488426,2,99
1,V420000001S37010553600122,42,1,NaN,2,1977,1,1,6,1,2,2,4,1,2,2,2,2,2,2,1,1,1,2,1,2,1,1,2,2,1,2,6,889.888311,1742.625646,2,99
2,V420000001S72011372810122,42,1,NaN,2,1972,2,1,1,1,1,2,3,1,2,1,1,1,1,1,1,1,1,2,1,2,2,2,2,2,1,2,-88,6782.165176,13281.189141,2,99
3,V420000001S79010265310112,42,1,NaN,2,1970,1,1,4,1,2,2,2,1,2,2,2,2,2,2,2,1,2,1,1,2,3,3,2,1,1,2,1,1239.306729,2426.874995,2,99
4,V420000001S79010457210112,42,1,NaN,2,1982,1,2,3,5,2,2,3,1,1,2,2,2,2,1,1,1,1,1,1,4,4,4,-99,3,1,1,-99,4865.798158,9528.459419,2,99

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVID,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,WRKLOSSRV,ANYWORK,KINDWORK,EXPNS_DIF,TWDAYS,CURFOODSUF,FREEFOOD,TENURE,PRIVHLTH,PUBHLTH,INCOME,HWEIGHT,PWEIGHT,WHENCOVID_CLEAN
0,V450000001S33011934810112,45,1,NaN,2,1951,1,1,5,1,2,2,2,1,1,1,1,1,1,2,1,2,2,2,2,-88,1,-99,1,2,1,1,1,2,1440.933299,2800.788696,99
1,V450000001S37010695700122,45,1,NaN,2,1955,1,1,4,1,1,2,2,-99,2,3,2,1,1,2,1,1,1,2,1,4,2,2,1,2,1,3,1,4,1014.976345,1972.842377,99
2,V450000001S37010923700112,45,1,NaN,2,1961,2,1,5,1,1,2,3,1,2,1,1,2,1,1,1,1,1,2,1,3,2,-88,1,2,2,1,2,4,2987.998422,8711.803882,99
3,V450000001S77010808800122,45,1,NaN,2,1976,1,1,6,1,1,2,2,1,2,2,1,2,2,2,1,1,1,2,1,3,1,1,1,2,2,1,2,6,1360.333168,2644.123613,99
4,V450000001S98010434110122,45,1,NaN,2,1958,1,1,6,1,2,2,2,1,1,1,2,1,1,1,1,1,2,2,1,2,1,1,1,2,1,1,2,8,1629.541056,3167.391699,99

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVIDRV,LONGCOVID,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,SELFCARE,UNDERSTAND,WRKLOSSRV,ANYWORK,KINDWORK,EXPNS_DIF,TWDAYS,CURFOODSUF,FREEFOOD,TSPNDFOOD,TSPNDPRPD,TENURE,PRIVHLTH,PUBHLTH,INCOME,HWEIGHT,PWEIGHT,WHENCOVID,WHENCOVID_CLEAN
0,V480000001,48,41,NaN,4,1946,1,1,5,3,2,2,1,1,2,-88,1,1,2,1,1,2,2,2,1,1,2,2,-88,2,4,2,2,0,0,3,2,1,2,1411.203878,1261.919425,-88,99
1,V480000002,48,31,NaN,3,1958,1,1,5,1,1,2,4,1,2,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,-88,2,2,-88,-88,-88,-88,-88,-88,-88,-88,3,3,-88,1021.299839,3735.204079,-88,99
2,V480000003,48,17,16980.0,3,1971,2,1,3,4,2,4,6,1,2,-88,4,3,2,3,2,2,1,1,1,1,1,2,-88,4,4,2,2,550,75,3,2,2,1,13111.143310,49438.385982,-88,99
3,V480000004,48,13,12060.0,2,1967,1,2,7,2,2,2,6,1,1,1,1,2,2,2,2,1,3,1,1,1,2,1,1,1,3,1,2,300,260,2,1,2,4,2123.268644,10637.705782,2,2
4,V480000005,48,33,NaN,1,1977,1,1,6,3,2,2,5,1,2,-88,3,3,2,1,1,1,2,2,1,1,2,1,4,3,4,2,2,850,50,2,3,1,2,343.061621,1357.461102,-88,99

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVIDRV,LONGCOVID,SYMPTMIMPCT,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,SELFCARE,UNDERSTAND,WRKLOSSRV,ANYWORK,KINDWORK,PRICECHNG,PRICESTRESS,PRICECONCRN,EXPNS_DIF,TWDAYS,CURFOODSUF,FREEFOOD,TSPNDFOOD,TSPNDPRPD,ND_DISPLACE,TENURE,PRIVHLTH,PUBHLTH,MEDICAID,INCOME,HWEIGHT,PWEIGHT,WHENCOVID,WHENCOVID_CLEAN
0,V520000001,52,44,NaN,1,1968,1,1,7,1,2,2,4,1,2,-88,-88,1,1,1,2,3,1,4,1,4,1,2,2,-88,1,3,3,1,4,1,2,200,100,2,1,1,2,3,5,297.631871,1123.798115,-88,99
1,V520000002,52,5,NaN,2,1959,1,1,6,1,2,2,2,1,2,-88,-88,1,1,1,1,-88,-88,-88,-88,-88,-88,2,2,-88,1,3,2,1,4,1,2,400,140,2,-88,1,2,3,-88,544.644346,1009.342253,-88,99
2,V520000003,52,48,NaN,2,1946,1,1,6,1,1,2,2,1,1,2,-88,2,2,2,2,1,2,2,2,1,1,2,2,-88,1,3,1,2,4,1,2,120,50,2,1,3,1,-88,6,187.423803,346.468149,2,2
3,V520000004,52,11,47900.0,2,1984,1,1,6,1,1,1,2,1,2,-88,-88,2,1,1,1,1,1,1,2,1,1,2,1,1,1,2,3,1,3,1,2,150,200,2,3,1,2,3,7,116.768607,199.033089,-88,99
4,V520000005,52,28,NaN,2,1963,1,1,5,1,2,2,2,1,1,2,-88,2,2,2,2,1,1,1,1,1,1,1,2,-88,1,2,1,3,4,2,2,70,0,2,2,2,2,3,3,700.047941,1329.911657,2,2

In [16]:
# Get list of 1q file columns to identify which ones need the responses cleaned
pulse2022_1q_analysis_wrk_df.columns

Index(['SCRAM', 'WEEK', 'EST_ST', 'EST_MSA', 'REGION', 'TBIRTH_YEAR',
       'RHISPANIC', 'RRACE', 'EEDUC', 'MS', 'GENID_DESCRIBE',
       'SEXUAL_ORIENTATION', 'THHLD_NUMPER', 'RECVDVACC', 'HADCOVID',
       'ANXIOUS', 'WORRY', 'INTEREST', 'DOWN', 'SEEING', 'HEARING', 'MOBILITY',
       'REMEMBERING', 'WRKLOSSRV', 'ANYWORK', 'KINDWORK', 'EXPNS_DIF',
       'CURFOODSUF', 'FREEFOOD', 'TENURE', 'PRIVHLTH', 'PUBHLTH', 'INCOME',
       'HWEIGHT', 'PWEIGHT', 'ACTIVITY2', 'WHENCOVID_CLEAN'],
      dtype='object')

In [17]:
# 1q file cleanup:  Replace all negative no response values (-88 and -99) with common value of 99 in dataframe
#                   using clean_negative_values function
clean_columns_list = ['TBIRTH_YEAR', 'RHISPANIC', 'RRACE', 'EEDUC', 'MS', 'GENID_DESCRIBE',
                      'SEXUAL_ORIENTATION', 'THHLD_NUMPER', 'RECVDVACC', 'HADCOVID', 'ANXIOUS', 'WORRY', 'INTEREST',
                      'DOWN', 'SEEING', 'HEARING', 'MOBILITY', 'REMEMBERING', 'WRKLOSSRV', 'ANYWORK', 'KINDWORK',
                      'EXPNS_DIF', 'CURFOODSUF', 'FREEFOOD', 'TENURE', 'PRIVHLTH', 'PUBHLTH', 'INCOME', 'ACTIVITY2']

for col in clean_columns_list:
    pulse2022_1q_analysis_wrk_df[col] = pulse2022_1q_analysis_wrk_df[col].apply(clean_negative_values)
    
# Confirm that no -88 or -99 values are in the dataframe
print("Checking to confirm that pulse2022_1q_analysis_wrk_df does not contain any -88 or -99 values")
negative_values_list = [-88, -99]
for response in negative_values_list:
    if response in pulse2022_1q_analysis_wrk_df.values:
        print(f"{response} exists in dataframe")
    else:
        print(f"{response} does not exist in dataframe")

Checking to confirm that pulse2022_1q_analysis_wrk_df does not contain any -88 or -99 values
-88 does not exist in dataframe
-99 does not exist in dataframe

In [18]:
# Get list of 2q file columns to identify which ones need the responses cleaned
pulse2022_2q_analysis_wrk_df.columns

Index(['SCRAM', 'WEEK', 'EST_ST', 'EST_MSA', 'REGION', 'TBIRTH_YEAR',
       'RHISPANIC', 'RRACE', 'EEDUC', 'MS', 'GENID_DESCRIBE',
       'SEXUAL_ORIENTATION', 'THHLD_NUMPER', 'RECVDVACC', 'HADCOVID',
       'ANXIOUS', 'WORRY', 'INTEREST', 'DOWN', 'SEEING', 'HEARING', 'MOBILITY',
       'REMEMBERING', 'WRKLOSSRV', 'ANYWORK', 'KINDWORK', 'EXPNS_DIF',
       'TWDAYS', 'CURFOODSUF', 'FREEFOOD', 'TENURE', 'PRIVHLTH', 'PUBHLTH',
       'INCOME', 'HWEIGHT', 'PWEIGHT', 'WHENCOVID_CLEAN'],
      dtype='object')

In [19]:
# 2q file cleanup:  Replace all negative no response values (-88 and -99) with common value of 99 in dataframe
#                   using clean_negative_values function
clean_columns_list = ['TBIRTH_YEAR', 'RHISPANIC', 'RRACE', 'EEDUC', 'MS', 'GENID_DESCRIBE',
                      'SEXUAL_ORIENTATION', 'THHLD_NUMPER', 'RECVDVACC', 'HADCOVID', 'ANXIOUS', 'WORRY', 'INTEREST',
                      'DOWN', 'SEEING', 'HEARING', 'MOBILITY', 'REMEMBERING', 'WRKLOSSRV', 'ANYWORK', 'KINDWORK',
                      'EXPNS_DIF', 'TWDAYS', 'CURFOODSUF', 'FREEFOOD', 'TENURE', 'PRIVHLTH', 'PUBHLTH', 'INCOME']

for col in clean_columns_list:
    pulse2022_2q_analysis_wrk_df[col] = pulse2022_2q_analysis_wrk_df[col].apply(clean_negative_values)
    
# Confirm that no -88 or -99 values are in the dataframe
print("Checking to confirm that pulse2022_2q_analysis_wrk_df does not contain any -88 or -99 values")
negative_values_list = [-88, -99]
for response in negative_values_list:
    if response in pulse2022_2q_analysis_wrk_df.values:
        print(f"{response} exists in dataframe")
    else:
        print(f"{response} does not exist in dataframe")

Checking to confirm that pulse2022_2q_analysis_wrk_df does not contain any -88 or -99 values
-88 does not exist in dataframe
-99 does not exist in dataframe

In [20]:
# Get list of 3q file columns to identify which ones need the responses cleaned
pulse2022_3q_analysis_wrk_df.columns

Index(['SCRAM', 'WEEK', 'EST_ST', 'EST_MSA', 'REGION', 'TBIRTH_YEAR',
       'RHISPANIC', 'RRACE', 'EEDUC', 'MS', 'GENID_DESCRIBE',
       'SEXUAL_ORIENTATION', 'THHLD_NUMPER', 'RECVDVACC', 'HADCOVIDRV',
       'LONGCOVID', 'ANXIOUS', 'WORRY', 'INTEREST', 'DOWN', 'SEEING',
       'HEARING', 'MOBILITY', 'REMEMBERING', 'SELFCARE', 'UNDERSTAND',
       'WRKLOSSRV', 'ANYWORK', 'KINDWORK', 'EXPNS_DIF', 'TWDAYS', 'CURFOODSUF',
       'FREEFOOD', 'TSPNDFOOD', 'TSPNDPRPD', 'TENURE', 'PRIVHLTH', 'PUBHLTH',
       'INCOME', 'HWEIGHT', 'PWEIGHT', 'WHENCOVID', 'WHENCOVID_CLEAN'],
      dtype='object')

In [21]:
# 3q file cleanup:  Replace all negative no response values (-88 and -99) with common value of 99 in dataframe
#                   using clean_negative_values function
clean_columns_list = ['TBIRTH_YEAR', 'RHISPANIC', 'RRACE', 'EEDUC', 'MS', 'GENID_DESCRIBE',
                      'SEXUAL_ORIENTATION', 'THHLD_NUMPER', 'RECVDVACC', 'HADCOVIDRV', 'LONGCOVID', 'ANXIOUS',
                      'WORRY', 'INTEREST', 'DOWN', 'SEEING', 'HEARING', 'MOBILITY', 'REMEMBERING', 'SELFCARE',
                      'UNDERSTAND', 'WRKLOSSRV', 'ANYWORK', 'KINDWORK', 'EXPNS_DIF', 'TWDAYS', 'CURFOODSUF',
                      'FREEFOOD', 'TSPNDFOOD', 'TSPNDPRPD', 'TENURE', 'PRIVHLTH', 'PUBHLTH', 'INCOME', 'WHENCOVID']

for col in clean_columns_list:
    pulse2022_3q_analysis_wrk_df[col] = pulse2022_3q_analysis_wrk_df[col].apply(clean_negative_values)
    
# Confirm that no -88 or -99 values are in the dataframe
print("Checking to confirm that pulse2022_3q_analysis_wrk_df does not contain any -88 or -99 values")
negative_values_list = [-88, -99]
for response in negative_values_list:
    if response in pulse2022_3q_analysis_wrk_df.values:
        print(f"{response} exists in dataframe")
    else:
        print(f"{response} does not exist in dataframe")

Checking to confirm that pulse2022_3q_analysis_wrk_df does not contain any -88 or -99 values
-88 does not exist in dataframe
-99 does not exist in dataframe

In [22]:
# Get list of 4q file columns to identify which ones need the responses cleaned
pulse2022_4q_analysis_wrk_df.columns

Index(['SCRAM', 'WEEK', 'EST_ST', 'EST_MSA', 'REGION', 'TBIRTH_YEAR',
       'RHISPANIC', 'RRACE', 'EEDUC', 'MS', 'GENID_DESCRIBE',
       'SEXUAL_ORIENTATION', 'THHLD_NUMPER', 'RECVDVACC', 'HADCOVIDRV',
       'LONGCOVID', 'SYMPTMIMPCT', 'ANXIOUS', 'WORRY', 'INTEREST', 'DOWN',
       'SEEING', 'HEARING', 'MOBILITY', 'REMEMBERING', 'SELFCARE',
       'UNDERSTAND', 'WRKLOSSRV', 'ANYWORK', 'KINDWORK', 'PRICECHNG',
       'PRICESTRESS', 'PRICECONCRN', 'EXPNS_DIF', 'TWDAYS', 'CURFOODSUF',
       'FREEFOOD', 'TSPNDFOOD', 'TSPNDPRPD', 'ND_DISPLACE', 'TENURE',
       'PRIVHLTH', 'PUBHLTH', 'MEDICAID', 'INCOME', 'HWEIGHT', 'PWEIGHT',
       'WHENCOVID', 'WHENCOVID_CLEAN'],
      dtype='object')

In [23]:
# 4q file cleanup:  Replace all negative no response values (-88 and -99) with common value of 99 in dataframe
#                   using clean_negative_values function
clean_columns_list = ['TBIRTH_YEAR', 'RHISPANIC', 'RRACE', 'EEDUC', 'MS', 'GENID_DESCRIBE',
                      'SEXUAL_ORIENTATION', 'THHLD_NUMPER', 'RECVDVACC', 'HADCOVIDRV', 'LONGCOVID', 'SYMPTMIMPCT',
                      'ANXIOUS', 'WORRY', 'INTEREST', 'DOWN', 'SEEING', 'HEARING', 'MOBILITY', 'REMEMBERING',
                      'SELFCARE', 'UNDERSTAND', 'WRKLOSSRV', 'ANYWORK', 'KINDWORK', 'PRICECHNG', 'PRICESTRESS',
                      'PRICECONCRN', 'EXPNS_DIF', 'TWDAYS', 'CURFOODSUF', 'FREEFOOD', 'TSPNDFOOD', 'TSPNDPRPD',
                      'ND_DISPLACE', 'TENURE', 'PRIVHLTH', 'PUBHLTH', 'MEDICAID', 'INCOME', 'WHENCOVID']

for col in clean_columns_list:
    pulse2022_4q_analysis_wrk_df[col] = pulse2022_4q_analysis_wrk_df[col].apply(clean_negative_values)
    
# Confirm that no -88 or -99 values are in the dataframe
print("Checking to confirm that pulse2022_4q_analysis_wrk_df does not contain any -88 or -99 values")
negative_values_list = [-88, -99]
for response in negative_values_list:
    if response in pulse2022_4q_analysis_wrk_df.values:
        print(f"{response} exists in dataframe")
    else:
        print(f"{response} does not exist in dataframe")

Checking to confirm that pulse2022_4q_analysis_wrk_df does not contain any -88 or -99 values
-88 does not exist in dataframe
-99 does not exist in dataframe

In [24]:
# Add survey start and end date columns to quarterly surveys
# 2022-1Q
pulse2022_1q_analysis_wrk_df['SURVEY_START_DATE'] = pd.to_datetime('2022-01-26')
pulse2022_1q_analysis_wrk_df['SURVEY_END_DATE'] = pd.to_datetime('2022-02-07')
# 2022-2Q
pulse2022_2q_analysis_wrk_df['SURVEY_START_DATE'] = pd.to_datetime('2022-04-27')
pulse2022_2q_analysis_wrk_df['SURVEY_END_DATE'] = pd.to_datetime('2022-05-09')
# 2022-3Q
pulse2022_3q_analysis_wrk_df['SURVEY_START_DATE'] = pd.to_datetime('2022-07-27')
pulse2022_3q_analysis_wrk_df['SURVEY_END_DATE'] = pd.to_datetime('2022-08-08')
# 2022-4Q
pulse2022_4q_analysis_wrk_df['SURVEY_START_DATE'] = pd.to_datetime('2022-12-09')
pulse2022_4q_analysis_wrk_df['SURVEY_END_DATE'] = pd.to_datetime('2022-12-19')

In [25]:
# Add EST_MSA_CLEAN column to replace nulls in EST_MSA (Metropolitan Statistical Area) with 99999.9 to
# represent non-Metropolitan Statistical Areas
pulse2022_1q_analysis_wrk_df['EST_MSA_CLEAN'] = pulse2022_1q_analysis_wrk_df['EST_MSA'].fillna(99999.9)
pulse2022_2q_analysis_wrk_df['EST_MSA_CLEAN'] = pulse2022_2q_analysis_wrk_df['EST_MSA'].fillna(99999.9)
pulse2022_3q_analysis_wrk_df['EST_MSA_CLEAN'] = pulse2022_3q_analysis_wrk_df['EST_MSA'].fillna(99999.9)
pulse2022_4q_analysis_wrk_df['EST_MSA_CLEAN'] = pulse2022_4q_analysis_wrk_df['EST_MSA'].fillna(99999.9)

In [26]:
# Display first 5 rows of 1q dataframe after columns added and before next round of cleaning
display('1q file after columns added and before next round of cleaning')
display(pulse2022_1q_analysis_wrk_df.head())

'1q file after columns added and before next round of cleaning'

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVID,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,WRKLOSSRV,ANYWORK,KINDWORK,EXPNS_DIF,CURFOODSUF,FREEFOOD,TENURE,PRIVHLTH,PUBHLTH,INCOME,HWEIGHT,PWEIGHT,ACTIVITY2,WHENCOVID_CLEAN,SURVEY_START_DATE,SURVEY_END_DATE,EST_MSA_CLEAN
0,V420000001S37010496600112,42,1,NaN,2,1956,1,1,4,1,2,2,2,1,1,2,1,1,1,1,1,3,1,99,1,2,2,2,2,1,2,1,3,1592.996346,3119.488426,2,99,2022-01-26,2022-02-07,99999.9
1,V420000001S37010553600122,42,1,NaN,2,1977,1,1,6,1,2,2,4,1,2,2,2,2,2,2,1,1,1,2,1,2,1,1,2,2,1,2,6,889.888311,1742.625646,2,99,2022-01-26,2022-02-07,99999.9
2,V420000001S72011372810122,42,1,NaN,2,1972,2,1,1,1,1,2,3,1,2,1,1,1,1,1,1,1,1,2,1,2,2,2,2,2,1,2,99,6782.165176,13281.189141,2,99,2022-01-26,2022-02-07,99999.9
3,V420000001S79010265310112,42,1,NaN,2,1970,1,1,4,1,2,2,2,1,2,2,2,2,2,2,2,1,2,1,1,2,3,3,2,1,1,2,1,1239.306729,2426.874995,2,99,2022-01-26,2022-02-07,99999.9
4,V420000001S79010457210112,42,1,NaN,2,1982,1,2,3,5,2,2,3,1,1,2,2,2,2,1,1,1,1,1,1,4,4,4,99,3,1,1,99,4865.798158,9528.459419,2,99,2022-01-26,2022-02-07,99999.9

In [27]:
# 1q file cleanup: To maintain column alignment across all surveys, add missing survey columns
#                  with response set to 99 (No Response) because data was not collected at that time.
#                  The added columns will include '_PLUG' at the end of the column name.

# Note:  'TWDAYS' column is not in this file.  We captured 'ACTIVITY2' (Teleworked or Worked from Home).
#        We may be able to use this column field in conjunction with 'TWDAYS' column in our analysis.
#        We will assess this and determine if we want to include in our analysis.

# Survey columns that are not in the 1q file:
plug_columns_list = ['TWDAYS', 'LONGCOVID', 'SELFCARE', 'UNDERSTAND', 'TSPNDFOOD', 'TSPNDPRPD', 'WHENCOVID',
                      'SYMPTMIMPCT', 'PRICECHNG', 'PRICESTRESS', 'PRICECONCRN', 'ND_DISPLACE', 'MEDICAID']

# Loop to add missing survey columns with response set to 99 (No Response) because data was not collected at that time
for col in plug_columns_list:
    pulse2022_1q_analysis_wrk_df[col +'_PLUG'] = 99

display('1q file after _PLUG columns added')
display(pulse2022_1q_analysis_wrk_df.head())

'1q file after _PLUG columns added'

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVID,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,WRKLOSSRV,ANYWORK,KINDWORK,EXPNS_DIF,CURFOODSUF,FREEFOOD,TENURE,PRIVHLTH,PUBHLTH,INCOME,HWEIGHT,PWEIGHT,ACTIVITY2,WHENCOVID_CLEAN,SURVEY_START_DATE,SURVEY_END_DATE,EST_MSA_CLEAN,TWDAYS_PLUG,LONGCOVID_PLUG,SELFCARE_PLUG,UNDERSTAND_PLUG,TSPNDFOOD_PLUG,TSPNDPRPD_PLUG,WHENCOVID_PLUG,SYMPTMIMPCT_PLUG,PRICECHNG_PLUG,PRICESTRESS_PLUG,PRICECONCRN_PLUG,ND_DISPLACE_PLUG,MEDICAID_PLUG
0,V420000001S37010496600112,42,1,NaN,2,1956,1,1,4,1,2,2,2,1,1,2,1,1,1,1,1,3,1,99,1,2,2,2,2,1,2,1,3,1592.996346,3119.488426,2,99,2022-01-26,2022-02-07,99999.9,99,99,99,99,99,99,99,99,99,99,99,99,99
1,V420000001S37010553600122,42,1,NaN,2,1977,1,1,6,1,2,2,4,1,2,2,2,2,2,2,1,1,1,2,1,2,1,1,2,2,1,2,6,889.888311,1742.625646,2,99,2022-01-26,2022-02-07,99999.9,99,99,99,99,99,99,99,99,99,99,99,99,99
2,V420000001S72011372810122,42,1,NaN,2,1972,2,1,1,1,1,2,3,1,2,1,1,1,1,1,1,1,1,2,1,2,2,2,2,2,1,2,99,6782.165176,13281.189141,2,99,2022-01-26,2022-02-07,99999.9,99,99,99,99,99,99,99,99,99,99,99,99,99
3,V420000001S79010265310112,42,1,NaN,2,1970,1,1,4,1,2,2,2,1,2,2,2,2,2,2,2,1,2,1,1,2,3,3,2,1,1,2,1,1239.306729,2426.874995,2,99,2022-01-26,2022-02-07,99999.9,99,99,99,99,99,99,99,99,99,99,99,99,99
4,V420000001S79010457210112,42,1,NaN,2,1982,1,2,3,5,2,2,3,1,1,2,2,2,2,1,1,1,1,1,1,4,4,4,99,3,1,1,99,4865.798158,9528.459419,2,99,2022-01-26,2022-02-07,99999.9,99,99,99,99,99,99,99,99,99,99,99,99,99

In [28]:
# Display first 5 rows of 2q dataframe after columns added and before next round of cleaning
display('2q file after columns added and before next round of cleaning')
display(pulse2022_2q_analysis_wrk_df.head())

'2q file after columns added and before next round of cleaning'

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVID,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,WRKLOSSRV,ANYWORK,KINDWORK,EXPNS_DIF,TWDAYS,CURFOODSUF,FREEFOOD,TENURE,PRIVHLTH,PUBHLTH,INCOME,HWEIGHT,PWEIGHT,WHENCOVID_CLEAN,SURVEY_START_DATE,SURVEY_END_DATE,EST_MSA_CLEAN
0,V450000001S33011934810112,45,1,NaN,2,1951,1,1,5,1,2,2,2,1,1,1,1,1,1,2,1,2,2,2,2,99,1,99,1,2,1,1,1,2,1440.933299,2800.788696,99,2022-04-27,2022-05-09,99999.9
1,V450000001S37010695700122,45,1,NaN,2,1955,1,1,4,1,1,2,2,99,2,3,2,1,1,2,1,1,1,2,1,4,2,2,1,2,1,3,1,4,1014.976345,1972.842377,99,2022-04-27,2022-05-09,99999.9
2,V450000001S37010923700112,45,1,NaN,2,1961,2,1,5,1,1,2,3,1,2,1,1,2,1,1,1,1,1,2,1,3,2,99,1,2,2,1,2,4,2987.998422,8711.803882,99,2022-04-27,2022-05-09,99999.9
3,V450000001S77010808800122,45,1,NaN,2,1976,1,1,6,1,1,2,2,1,2,2,1,2,2,2,1,1,1,2,1,3,1,1,1,2,2,1,2,6,1360.333168,2644.123613,99,2022-04-27,2022-05-09,99999.9
4,V450000001S98010434110122,45,1,NaN,2,1958,1,1,6,1,2,2,2,1,1,1,2,1,1,1,1,1,2,2,1,2,1,1,1,2,1,1,2,8,1629.541056,3167.391699,99,2022-04-27,2022-05-09,99999.9

In [29]:
# 2q file cleanup: To maintain column alignment across all surveys, add missing survey columns
#                  with response set to 99 (No Response) because data was not collected at that time.
#                  The added columns will include '_PLUG' at the end of the column name.

# Note:  Had COVID response is in column 'HADCOVID' in this file, not 'HADCOVIDRV'

# Survey columns that are not in the 2q file:
plug_columns_list = ['LONGCOVID', 'SELFCARE', 'UNDERSTAND', 'TSPNDFOOD', 'TSPNDPRPD', 'WHENCOVID',
                      'SYMPTMIMPCT', 'PRICECHNG', 'PRICESTRESS', 'PRICECONCRN', 'ND_DISPLACE', 'MEDICAID']

# Loop to add missing survey columns with response set to 99 (No Response) because data was not collected at that time
for col in plug_columns_list:
    pulse2022_2q_analysis_wrk_df[col +'_PLUG'] = 99

display('2q file after _PLUG columns added')
display(pulse2022_2q_analysis_wrk_df.head())

'2q file after _PLUG columns added'

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVID,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,WRKLOSSRV,ANYWORK,KINDWORK,EXPNS_DIF,TWDAYS,CURFOODSUF,FREEFOOD,TENURE,PRIVHLTH,PUBHLTH,INCOME,HWEIGHT,PWEIGHT,WHENCOVID_CLEAN,SURVEY_START_DATE,SURVEY_END_DATE,EST_MSA_CLEAN,LONGCOVID_PLUG,SELFCARE_PLUG,UNDERSTAND_PLUG,TSPNDFOOD_PLUG,TSPNDPRPD_PLUG,WHENCOVID_PLUG,SYMPTMIMPCT_PLUG,PRICECHNG_PLUG,PRICESTRESS_PLUG,PRICECONCRN_PLUG,ND_DISPLACE_PLUG,MEDICAID_PLUG
0,V450000001S33011934810112,45,1,NaN,2,1951,1,1,5,1,2,2,2,1,1,1,1,1,1,2,1,2,2,2,2,99,1,99,1,2,1,1,1,2,1440.933299,2800.788696,99,2022-04-27,2022-05-09,99999.9,99,99,99,99,99,99,99,99,99,99,99,99
1,V450000001S37010695700122,45,1,NaN,2,1955,1,1,4,1,1,2,2,99,2,3,2,1,1,2,1,1,1,2,1,4,2,2,1,2,1,3,1,4,1014.976345,1972.842377,99,2022-04-27,2022-05-09,99999.9,99,99,99,99,99,99,99,99,99,99,99,99
2,V450000001S37010923700112,45,1,NaN,2,1961,2,1,5,1,1,2,3,1,2,1,1,2,1,1,1,1,1,2,1,3,2,99,1,2,2,1,2,4,2987.998422,8711.803882,99,2022-04-27,2022-05-09,99999.9,99,99,99,99,99,99,99,99,99,99,99,99
3,V450000001S77010808800122,45,1,NaN,2,1976,1,1,6,1,1,2,2,1,2,2,1,2,2,2,1,1,1,2,1,3,1,1,1,2,2,1,2,6,1360.333168,2644.123613,99,2022-04-27,2022-05-09,99999.9,99,99,99,99,99,99,99,99,99,99,99,99
4,V450000001S98010434110122,45,1,NaN,2,1958,1,1,6,1,2,2,2,1,1,1,2,1,1,1,1,1,2,2,1,2,1,1,1,2,1,1,2,8,1629.541056,3167.391699,99,2022-04-27,2022-05-09,99999.9,99,99,99,99,99,99,99,99,99,99,99,99

In [30]:
# Display first 5 rows of 3q dataframe after columns added and before next round of cleaning
display('3q file after columns added and before next round of cleaning')
display(pulse2022_3q_analysis_wrk_df.head())

'3q file after columns added and before next round of cleaning'

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVIDRV,LONGCOVID,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,SELFCARE,UNDERSTAND,WRKLOSSRV,ANYWORK,KINDWORK,EXPNS_DIF,TWDAYS,CURFOODSUF,FREEFOOD,TSPNDFOOD,TSPNDPRPD,TENURE,PRIVHLTH,PUBHLTH,INCOME,HWEIGHT,PWEIGHT,WHENCOVID,WHENCOVID_CLEAN,SURVEY_START_DATE,SURVEY_END_DATE,EST_MSA_CLEAN
0,V480000001,48,41,NaN,4,1946,1,1,5,3,2,2,1,1,2,99,1,1,2,1,1,2,2,2,1,1,2,2,99,2,4,2,2,0,0,3,2,1,2,1411.203878,1261.919425,99,99,2022-07-27,2022-08-08,99999.9
1,V480000002,48,31,NaN,3,1958,1,1,5,1,1,2,4,1,2,99,99,99,99,99,99,99,99,99,99,99,2,2,99,99,99,99,99,99,99,99,3,3,99,1021.299839,3735.204079,99,99,2022-07-27,2022-08-08,99999.9
2,V480000003,48,17,16980.0,3,1971,2,1,3,4,2,4,6,1,2,99,4,3,2,3,2,2,1,1,1,1,1,2,99,4,4,2,2,550,75,3,2,2,1,13111.143310,49438.385982,99,99,2022-07-27,2022-08-08,16980.0
3,V480000004,48,13,12060.0,2,1967,1,2,7,2,2,2,6,1,1,1,1,2,2,2,2,1,3,1,1,1,2,1,1,1,3,1,2,300,260,2,1,2,4,2123.268644,10637.705782,2,2,2022-07-27,2022-08-08,12060.0
4,V480000005,48,33,NaN,1,1977,1,1,6,3,2,2,5,1,2,99,3,3,2,1,1,1,2,2,1,1,2,1,4,3,4,2,2,850,50,2,3,1,2,343.061621,1357.461102,99,99,2022-07-27,2022-08-08,99999.9

In [31]:
# 3q file cleanup: To maintain column alignment across all surveys, add missing survey columns
#                  with response set to 99 (No Response) because data was not collected at that time.
#                  The added columns will include '_PLUG' at the end of the column name.

# Survey columns that are not in the 3q file:
plug_columns_list = ['SYMPTMIMPCT', 'PRICECHNG', 'PRICESTRESS', 'PRICECONCRN', 'ND_DISPLACE', 'MEDICAID']

# Loop to add missing survey columns with response set to 99 (No Response) because data was not collected at that time
for col in plug_columns_list:
    pulse2022_3q_analysis_wrk_df[col +'_PLUG'] = 99

display('3q file after _PLUG columns added')
display(pulse2022_3q_analysis_wrk_df.head())

'3q file after _PLUG columns added'

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVIDRV,LONGCOVID,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,SELFCARE,UNDERSTAND,WRKLOSSRV,ANYWORK,KINDWORK,EXPNS_DIF,TWDAYS,CURFOODSUF,FREEFOOD,TSPNDFOOD,TSPNDPRPD,TENURE,PRIVHLTH,PUBHLTH,INCOME,HWEIGHT,PWEIGHT,WHENCOVID,WHENCOVID_CLEAN,SURVEY_START_DATE,SURVEY_END_DATE,EST_MSA_CLEAN,SYMPTMIMPCT_PLUG,PRICECHNG_PLUG,PRICESTRESS_PLUG,PRICECONCRN_PLUG,ND_DISPLACE_PLUG,MEDICAID_PLUG
0,V480000001,48,41,NaN,4,1946,1,1,5,3,2,2,1,1,2,99,1,1,2,1,1,2,2,2,1,1,2,2,99,2,4,2,2,0,0,3,2,1,2,1411.203878,1261.919425,99,99,2022-07-27,2022-08-08,99999.9,99,99,99,99,99,99
1,V480000002,48,31,NaN,3,1958,1,1,5,1,1,2,4,1,2,99,99,99,99,99,99,99,99,99,99,99,2,2,99,99,99,99,99,99,99,99,3,3,99,1021.299839,3735.204079,99,99,2022-07-27,2022-08-08,99999.9,99,99,99,99,99,99
2,V480000003,48,17,16980.0,3,1971,2,1,3,4,2,4,6,1,2,99,4,3,2,3,2,2,1,1,1,1,1,2,99,4,4,2,2,550,75,3,2,2,1,13111.143310,49438.385982,99,99,2022-07-27,2022-08-08,16980.0,99,99,99,99,99,99
3,V480000004,48,13,12060.0,2,1967,1,2,7,2,2,2,6,1,1,1,1,2,2,2,2,1,3,1,1,1,2,1,1,1,3,1,2,300,260,2,1,2,4,2123.268644,10637.705782,2,2,2022-07-27,2022-08-08,12060.0,99,99,99,99,99,99
4,V480000005,48,33,NaN,1,1977,1,1,6,3,2,2,5,1,2,99,3,3,2,1,1,1,2,2,1,1,2,1,4,3,4,2,2,850,50,2,3,1,2,343.061621,1357.461102,99,99,2022-07-27,2022-08-08,99999.9,99,99,99,99,99,99

In [32]:
# Display first 5 rows of 4q dataframe after columns added and before next round of cleaning
display('4q file after columns added and before next round of cleaning')
display(pulse2022_4q_analysis_wrk_df.head())

'4q file after columns added and before next round of cleaning'

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVIDRV,LONGCOVID,SYMPTMIMPCT,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,SELFCARE,UNDERSTAND,WRKLOSSRV,ANYWORK,KINDWORK,PRICECHNG,PRICESTRESS,PRICECONCRN,EXPNS_DIF,TWDAYS,CURFOODSUF,FREEFOOD,TSPNDFOOD,TSPNDPRPD,ND_DISPLACE,TENURE,PRIVHLTH,PUBHLTH,MEDICAID,INCOME,HWEIGHT,PWEIGHT,WHENCOVID,WHENCOVID_CLEAN,SURVEY_START_DATE,SURVEY_END_DATE,EST_MSA_CLEAN
0,V520000001,52,44,NaN,1,1968,1,1,7,1,2,2,4,1,2,99,99,1,1,1,2,3,1,4,1,4,1,2,2,99,1,3,3,1,4,1,2,200,100,2,1,1,2,3,5,297.631871,1123.798115,99,99,2022-12-09,2022-12-19,99999.9
1,V520000002,52,5,NaN,2,1959,1,1,6,1,2,2,2,1,2,99,99,1,1,1,1,99,99,99,99,99,99,2,2,99,1,3,2,1,4,1,2,400,140,2,99,1,2,3,99,544.644346,1009.342253,99,99,2022-12-09,2022-12-19,99999.9
2,V520000003,52,48,NaN,2,1946,1,1,6,1,1,2,2,1,1,2,99,2,2,2,2,1,2,2,2,1,1,2,2,99,1,3,1,2,4,1,2,120,50,2,1,3,1,99,6,187.423803,346.468149,2,2,2022-12-09,2022-12-19,99999.9
3,V520000004,52,11,47900.0,2,1984,1,1,6,1,1,1,2,1,2,99,99,2,1,1,1,1,1,1,2,1,1,2,1,1,1,2,3,1,3,1,2,150,200,2,3,1,2,3,7,116.768607,199.033089,99,99,2022-12-09,2022-12-19,47900.0
4,V520000005,52,28,NaN,2,1963,1,1,5,1,2,2,2,1,1,2,99,2,2,2,2,1,1,1,1,1,1,1,2,99,1,2,1,3,4,2,2,70,0,2,2,2,2,3,3,700.047941,1329.911657,2,2,2022-12-09,2022-12-19,99999.9

In [33]:
# 4q file cleanup:  No additional cleanup required

display('4q file - No additional cleanup required')
display(pulse2022_4q_analysis_wrk_df.head())

'4q file - No additional cleanup required'

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVIDRV,LONGCOVID,SYMPTMIMPCT,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,SELFCARE,UNDERSTAND,WRKLOSSRV,ANYWORK,KINDWORK,PRICECHNG,PRICESTRESS,PRICECONCRN,EXPNS_DIF,TWDAYS,CURFOODSUF,FREEFOOD,TSPNDFOOD,TSPNDPRPD,ND_DISPLACE,TENURE,PRIVHLTH,PUBHLTH,MEDICAID,INCOME,HWEIGHT,PWEIGHT,WHENCOVID,WHENCOVID_CLEAN,SURVEY_START_DATE,SURVEY_END_DATE,EST_MSA_CLEAN
0,V520000001,52,44,NaN,1,1968,1,1,7,1,2,2,4,1,2,99,99,1,1,1,2,3,1,4,1,4,1,2,2,99,1,3,3,1,4,1,2,200,100,2,1,1,2,3,5,297.631871,1123.798115,99,99,2022-12-09,2022-12-19,99999.9
1,V520000002,52,5,NaN,2,1959,1,1,6,1,2,2,2,1,2,99,99,1,1,1,1,99,99,99,99,99,99,2,2,99,1,3,2,1,4,1,2,400,140,2,99,1,2,3,99,544.644346,1009.342253,99,99,2022-12-09,2022-12-19,99999.9
2,V520000003,52,48,NaN,2,1946,1,1,6,1,1,2,2,1,1,2,99,2,2,2,2,1,2,2,2,1,1,2,2,99,1,3,1,2,4,1,2,120,50,2,1,3,1,99,6,187.423803,346.468149,2,2,2022-12-09,2022-12-19,99999.9
3,V520000004,52,11,47900.0,2,1984,1,1,6,1,1,1,2,1,2,99,99,2,1,1,1,1,1,1,2,1,1,2,1,1,1,2,3,1,3,1,2,150,200,2,3,1,2,3,7,116.768607,199.033089,99,99,2022-12-09,2022-12-19,47900.0
4,V520000005,52,28,NaN,2,1963,1,1,5,1,2,2,2,1,1,2,99,2,2,2,2,1,1,1,1,1,1,1,2,99,1,2,1,3,4,2,2,70,0,2,2,2,2,3,3,700.047941,1329.911657,2,2,2022-12-09,2022-12-19,99999.9

In [34]:
# Save cleaned files to csv for review, if needed
#pulse2022_1q_analysis_wrk_df.to_csv('Resources/pulse2022_1q_analysis_wrk_df.csv', index=False)
#pulse2022_2q_analysis_wrk_df.to_csv('Resources/pulse2022_2q_analysis_wrk_df.csv', index=False)
#pulse2022_3q_analysis_wrk_df.to_csv('Resources/pulse2022_3q_analysis_wrk_df.csv', index=False)
#pulse2022_4q_analysis_wrk_df.to_csv('Resources/pulse2022_4q_analysis_wrk_df.csv', index=False)
#print("Cleaned files have been saved")

In [35]:
# Create Restore point:  Make dataframe copies after cleaning
pulse2022_1q_analysis_clean_df = pulse2022_1q_analysis_wrk_df.copy()
pulse2022_2q_analysis_clean_df = pulse2022_2q_analysis_wrk_df.copy()
pulse2022_3q_analysis_clean_df = pulse2022_3q_analysis_wrk_df.copy()
pulse2022_4q_analysis_clean_df = pulse2022_4q_analysis_wrk_df.copy()
print("pulse2022 1q-4q analysis_wrk_df -- Restore point has been created")

pulse2022 1q-4q analysis_wrk_df -- Restore point has been created

In [36]:
# Display first 5 rows of analysis cleaned dataframes
display(pulse2022_1q_analysis_clean_df.head())
display(pulse2022_2q_analysis_clean_df.head())
display(pulse2022_3q_analysis_clean_df.head())
display(pulse2022_4q_analysis_clean_df.head())

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVID,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,WRKLOSSRV,ANYWORK,KINDWORK,EXPNS_DIF,CURFOODSUF,FREEFOOD,TENURE,PRIVHLTH,PUBHLTH,INCOME,HWEIGHT,PWEIGHT,ACTIVITY2,WHENCOVID_CLEAN,SURVEY_START_DATE,SURVEY_END_DATE,EST_MSA_CLEAN,TWDAYS_PLUG,LONGCOVID_PLUG,SELFCARE_PLUG,UNDERSTAND_PLUG,TSPNDFOOD_PLUG,TSPNDPRPD_PLUG,WHENCOVID_PLUG,SYMPTMIMPCT_PLUG,PRICECHNG_PLUG,PRICESTRESS_PLUG,PRICECONCRN_PLUG,ND_DISPLACE_PLUG,MEDICAID_PLUG
0,V420000001S37010496600112,42,1,NaN,2,1956,1,1,4,1,2,2,2,1,1,2,1,1,1,1,1,3,1,99,1,2,2,2,2,1,2,1,3,1592.996346,3119.488426,2,99,2022-01-26,2022-02-07,99999.9,99,99,99,99,99,99,99,99,99,99,99,99,99
1,V420000001S37010553600122,42,1,NaN,2,1977,1,1,6,1,2,2,4,1,2,2,2,2,2,2,1,1,1,2,1,2,1,1,2,2,1,2,6,889.888311,1742.625646,2,99,2022-01-26,2022-02-07,99999.9,99,99,99,99,99,99,99,99,99,99,99,99,99
2,V420000001S72011372810122,42,1,NaN,2,1972,2,1,1,1,1,2,3,1,2,1,1,1,1,1,1,1,1,2,1,2,2,2,2,2,1,2,99,6782.165176,13281.189141,2,99,2022-01-26,2022-02-07,99999.9,99,99,99,99,99,99,99,99,99,99,99,99,99
3,V420000001S79010265310112,42,1,NaN,2,1970,1,1,4,1,2,2,2,1,2,2,2,2,2,2,2,1,2,1,1,2,3,3,2,1,1,2,1,1239.306729,2426.874995,2,99,2022-01-26,2022-02-07,99999.9,99,99,99,99,99,99,99,99,99,99,99,99,99
4,V420000001S79010457210112,42,1,NaN,2,1982,1,2,3,5,2,2,3,1,1,2,2,2,2,1,1,1,1,1,1,4,4,4,99,3,1,1,99,4865.798158,9528.459419,2,99,2022-01-26,2022-02-07,99999.9,99,99,99,99,99,99,99,99,99,99,99,99,99

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVID,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,WRKLOSSRV,ANYWORK,KINDWORK,EXPNS_DIF,TWDAYS,CURFOODSUF,FREEFOOD,TENURE,PRIVHLTH,PUBHLTH,INCOME,HWEIGHT,PWEIGHT,WHENCOVID_CLEAN,SURVEY_START_DATE,SURVEY_END_DATE,EST_MSA_CLEAN,LONGCOVID_PLUG,SELFCARE_PLUG,UNDERSTAND_PLUG,TSPNDFOOD_PLUG,TSPNDPRPD_PLUG,WHENCOVID_PLUG,SYMPTMIMPCT_PLUG,PRICECHNG_PLUG,PRICESTRESS_PLUG,PRICECONCRN_PLUG,ND_DISPLACE_PLUG,MEDICAID_PLUG
0,V450000001S33011934810112,45,1,NaN,2,1951,1,1,5,1,2,2,2,1,1,1,1,1,1,2,1,2,2,2,2,99,1,99,1,2,1,1,1,2,1440.933299,2800.788696,99,2022-04-27,2022-05-09,99999.9,99,99,99,99,99,99,99,99,99,99,99,99
1,V450000001S37010695700122,45,1,NaN,2,1955,1,1,4,1,1,2,2,99,2,3,2,1,1,2,1,1,1,2,1,4,2,2,1,2,1,3,1,4,1014.976345,1972.842377,99,2022-04-27,2022-05-09,99999.9,99,99,99,99,99,99,99,99,99,99,99,99
2,V450000001S37010923700112,45,1,NaN,2,1961,2,1,5,1,1,2,3,1,2,1,1,2,1,1,1,1,1,2,1,3,2,99,1,2,2,1,2,4,2987.998422,8711.803882,99,2022-04-27,2022-05-09,99999.9,99,99,99,99,99,99,99,99,99,99,99,99
3,V450000001S77010808800122,45,1,NaN,2,1976,1,1,6,1,1,2,2,1,2,2,1,2,2,2,1,1,1,2,1,3,1,1,1,2,2,1,2,6,1360.333168,2644.123613,99,2022-04-27,2022-05-09,99999.9,99,99,99,99,99,99,99,99,99,99,99,99
4,V450000001S98010434110122,45,1,NaN,2,1958,1,1,6,1,2,2,2,1,1,1,2,1,1,1,1,1,2,2,1,2,1,1,1,2,1,1,2,8,1629.541056,3167.391699,99,2022-04-27,2022-05-09,99999.9,99,99,99,99,99,99,99,99,99,99,99,99

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVIDRV,LONGCOVID,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,SELFCARE,UNDERSTAND,WRKLOSSRV,ANYWORK,KINDWORK,EXPNS_DIF,TWDAYS,CURFOODSUF,FREEFOOD,TSPNDFOOD,TSPNDPRPD,TENURE,PRIVHLTH,PUBHLTH,INCOME,HWEIGHT,PWEIGHT,WHENCOVID,WHENCOVID_CLEAN,SURVEY_START_DATE,SURVEY_END_DATE,EST_MSA_CLEAN,SYMPTMIMPCT_PLUG,PRICECHNG_PLUG,PRICESTRESS_PLUG,PRICECONCRN_PLUG,ND_DISPLACE_PLUG,MEDICAID_PLUG
0,V480000001,48,41,NaN,4,1946,1,1,5,3,2,2,1,1,2,99,1,1,2,1,1,2,2,2,1,1,2,2,99,2,4,2,2,0,0,3,2,1,2,1411.203878,1261.919425,99,99,2022-07-27,2022-08-08,99999.9,99,99,99,99,99,99
1,V480000002,48,31,NaN,3,1958,1,1,5,1,1,2,4,1,2,99,99,99,99,99,99,99,99,99,99,99,2,2,99,99,99,99,99,99,99,99,3,3,99,1021.299839,3735.204079,99,99,2022-07-27,2022-08-08,99999.9,99,99,99,99,99,99
2,V480000003,48,17,16980.0,3,1971,2,1,3,4,2,4,6,1,2,99,4,3,2,3,2,2,1,1,1,1,1,2,99,4,4,2,2,550,75,3,2,2,1,13111.143310,49438.385982,99,99,2022-07-27,2022-08-08,16980.0,99,99,99,99,99,99
3,V480000004,48,13,12060.0,2,1967,1,2,7,2,2,2,6,1,1,1,1,2,2,2,2,1,3,1,1,1,2,1,1,1,3,1,2,300,260,2,1,2,4,2123.268644,10637.705782,2,2,2022-07-27,2022-08-08,12060.0,99,99,99,99,99,99
4,V480000005,48,33,NaN,1,1977,1,1,6,3,2,2,5,1,2,99,3,3,2,1,1,1,2,2,1,1,2,1,4,3,4,2,2,850,50,2,3,1,2,343.061621,1357.461102,99,99,2022-07-27,2022-08-08,99999.9,99,99,99,99,99,99

,SCRAM,WEEK,EST_ST,EST_MSA,REGION,TBIRTH_YEAR,RHISPANIC,RRACE,EEDUC,MS,GENID_DESCRIBE,SEXUAL_ORIENTATION,THHLD_NUMPER,RECVDVACC,HADCOVIDRV,LONGCOVID,SYMPTMIMPCT,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,SELFCARE,UNDERSTAND,WRKLOSSRV,ANYWORK,KINDWORK,PRICECHNG,PRICESTRESS,PRICECONCRN,EXPNS_DIF,TWDAYS,CURFOODSUF,FREEFOOD,TSPNDFOOD,TSPNDPRPD,ND_DISPLACE,TENURE,PRIVHLTH,PUBHLTH,MEDICAID,INCOME,HWEIGHT,PWEIGHT,WHENCOVID,WHENCOVID_CLEAN,SURVEY_START_DATE,SURVEY_END_DATE,EST_MSA_CLEAN
0,V520000001,52,44,NaN,1,1968,1,1,7,1,2,2,4,1,2,99,99,1,1,1,2,3,1,4,1,4,1,2,2,99,1,3,3,1,4,1,2,200,100,2,1,1,2,3,5,297.631871,1123.798115,99,99,2022-12-09,2022-12-19,99999.9
1,V520000002,52,5,NaN,2,1959,1,1,6,1,2,2,2,1,2,99,99,1,1,1,1,99,99,99,99,99,99,2,2,99,1,3,2,1,4,1,2,400,140,2,99,1,2,3,99,544.644346,1009.342253,99,99,2022-12-09,2022-12-19,99999.9
2,V520000003,52,48,NaN,2,1946,1,1,6,1,1,2,2,1,1,2,99,2,2,2,2,1,2,2,2,1,1,2,2,99,1,3,1,2,4,1,2,120,50,2,1,3,1,99,6,187.423803,346.468149,2,2,2022-12-09,2022-12-19,99999.9
3,V520000004,52,11,47900.0,2,1984,1,1,6,1,1,1,2,1,2,99,99,2,1,1,1,1,1,1,2,1,1,2,1,1,1,2,3,1,3,1,2,150,200,2,3,1,2,3,7,116.768607,199.033089,99,99,2022-12-09,2022-12-19,47900.0
4,V520000005,52,28,NaN,2,1963,1,1,5,1,2,2,2,1,1,2,99,2,2,2,2,1,1,1,1,1,1,1,2,99,1,2,1,3,4,2,2,70,0,2,2,2,2,3,3,700.047941,1329.911657,2,2,2022-12-09,2022-12-19,99999.9

### Align dataframes on fields that will be used for analysis and concatenate to create 2022 data file that will be used for analysis.

In [37]:
# Drop 'EST_MSA' column from all dataframes 'EST_MSA_CLEAN' column will be used for analysis
pulse2022_1q_analysis_clean_df = pulse2022_1q_analysis_clean_df.drop(['EST_MSA'], axis=1)
pulse2022_2q_analysis_clean_df = pulse2022_2q_analysis_clean_df.drop(['EST_MSA'], axis=1)
pulse2022_3q_analysis_clean_df = pulse2022_3q_analysis_clean_df.drop(['EST_MSA'], axis=1)
pulse2022_4q_analysis_clean_df = pulse2022_4q_analysis_clean_df.drop(['EST_MSA'], axis=1)
print(" EST_MSA column dropped from pulse2022 1q_4q analysis_clean_df dataframes")

 EST_MSA column dropped from pulse2022 1q_4q analysis_clean_df dataframes

In [38]:
# Display 1q dataframe columns to determine which columns to rename
display("pulse2022_1q_analysis_clean_df columns before rename")
display(pulse2022_1q_analysis_clean_df.columns)

'pulse2022_1q_analysis_clean_df columns before rename'

Index(['SCRAM', 'WEEK', 'EST_ST', 'REGION', 'TBIRTH_YEAR', 'RHISPANIC',
       'RRACE', 'EEDUC', 'MS', 'GENID_DESCRIBE', 'SEXUAL_ORIENTATION',
       'THHLD_NUMPER', 'RECVDVACC', 'HADCOVID', 'ANXIOUS', 'WORRY', 'INTEREST',
       'DOWN', 'SEEING', 'HEARING', 'MOBILITY', 'REMEMBERING', 'WRKLOSSRV',
       'ANYWORK', 'KINDWORK', 'EXPNS_DIF', 'CURFOODSUF', 'FREEFOOD', 'TENURE',
       'PRIVHLTH', 'PUBHLTH', 'INCOME', 'HWEIGHT', 'PWEIGHT', 'ACTIVITY2',
       'WHENCOVID_CLEAN', 'SURVEY_START_DATE', 'SURVEY_END_DATE',
       'EST_MSA_CLEAN', 'TWDAYS_PLUG', 'LONGCOVID_PLUG', 'SELFCARE_PLUG',
       'UNDERSTAND_PLUG', 'TSPNDFOOD_PLUG', 'TSPNDPRPD_PLUG', 'WHENCOVID_PLUG',
       'SYMPTMIMPCT_PLUG', 'PRICECHNG_PLUG', 'PRICESTRESS_PLUG',
       'PRICECONCRN_PLUG', 'ND_DISPLACE_PLUG', 'MEDICAID_PLUG'],
      dtype='object')

In [39]:
# Rename 1q dataframe columns to make them easier to understand and align with other quarter files
pulse2022_1q_analysis_clean_df.columns = ['SCRAM', 'WEEK', 'STATE', 'REGION', 'BIRTH_YEAR',
                                          'HISPANIC', 'RACE', 'EDUCATION', 'MARITAL_STATUS', 'GENDER_IDENITY',
                                          'SEXUAL_ORIENTATION', 'TOTAL_HOUSEHOLD', 'RECVD_VAC', 'HAD_COVID',
                                          'ANXIOUS', 'WORRY', 'INTEREST', 'DOWN', 'SEEING', 'HEARING', 'MOBILITY',
                                          'REMEMBERING', 'JOBLOSS', 'EMPLOYED', 'WORK_SECTOR', 'EXPNS_DIF',
                                          'CURFOODSUF', 'REC_FREEFOOD', 'OWN_RENT', 'PRIVHLTH_INS', 'PUBHLTH_INS',
                                          'INCOME', 'HWEIGHT', 'PWEIGHT', 'ACTIVITY2', 'HAD_COVID_WHEN',
                                          'SURVEY_START_DATE', 'SURVEY_END_DATE', 'METRO_AREA', 'WORK_REMOTE',
                                          'LONG_COVID', 'SELFCARE', 'UNDERSTAND', 'TSPNDFOOD', 'TSPNDPRPD',
                                          'WHENCOVID', 'LONG_COVID_IMPACT', 'PRICECHNG', 'PRICESTRESS',
                                          'PRICECONCRN', 'ND_DISPLACE', 'MEDICAID']

#Drop 'ACTIVITY2' column until we decide it is needed for our analysis
pulse2022_1q_analysis_clean_df = pulse2022_1q_analysis_clean_df.drop(['ACTIVITY2'], axis=1)

display("pulse2022_1q_analysis_clean_df columns after rename and drop of ACTIVITY2 column")
display(pulse2022_1q_analysis_clean_df.columns)
display(pulse2022_1q_analysis_clean_df.head())

'pulse2022_1q_analysis_clean_df columns after rename and drop of ACTIVITY2 column'

Index(['SCRAM', 'WEEK', 'STATE', 'REGION', 'BIRTH_YEAR', 'HISPANIC', 'RACE',
       'EDUCATION', 'MARITAL_STATUS', 'GENDER_IDENITY', 'SEXUAL_ORIENTATION',
       'TOTAL_HOUSEHOLD', 'RECVD_VAC', 'HAD_COVID', 'ANXIOUS', 'WORRY',
       'INTEREST', 'DOWN', 'SEEING', 'HEARING', 'MOBILITY', 'REMEMBERING',
       'JOBLOSS', 'EMPLOYED', 'WORK_SECTOR', 'EXPNS_DIF', 'CURFOODSUF',
       'REC_FREEFOOD', 'OWN_RENT', 'PRIVHLTH_INS', 'PUBHLTH_INS', 'INCOME',
       'HWEIGHT', 'PWEIGHT', 'HAD_COVID_WHEN', 'SURVEY_START_DATE',
       'SURVEY_END_DATE', 'METRO_AREA', 'WORK_REMOTE', 'LONG_COVID',
       'SELFCARE', 'UNDERSTAND', 'TSPNDFOOD', 'TSPNDPRPD', 'WHENCOVID',
       'LONG_COVID_IMPACT', 'PRICECHNG', 'PRICESTRESS', 'PRICECONCRN',
       'ND_DISPLACE', 'MEDICAID'],
      dtype='object')

,SCRAM,WEEK,STATE,REGION,BIRTH_YEAR,HISPANIC,RACE,EDUCATION,MARITAL_STATUS,GENDER_IDENITY,SEXUAL_ORIENTATION,TOTAL_HOUSEHOLD,RECVD_VAC,HAD_COVID,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,JOBLOSS,EMPLOYED,WORK_SECTOR,EXPNS_DIF,CURFOODSUF,REC_FREEFOOD,OWN_RENT,PRIVHLTH_INS,PUBHLTH_INS,INCOME,HWEIGHT,PWEIGHT,HAD_COVID_WHEN,SURVEY_START_DATE,SURVEY_END_DATE,METRO_AREA,WORK_REMOTE,LONG_COVID,SELFCARE,UNDERSTAND,TSPNDFOOD,TSPNDPRPD,WHENCOVID,LONG_COVID_IMPACT,PRICECHNG,PRICESTRESS,PRICECONCRN,ND_DISPLACE,MEDICAID
0,V420000001S37010496600112,42,1,2,1956,1,1,4,1,2,2,2,1,1,2,1,1,1,1,1,3,1,99,1,2,2,2,2,1,2,1,3,1592.996346,3119.488426,99,2022-01-26,2022-02-07,99999.9,99,99,99,99,99,99,99,99,99,99,99,99,99
1,V420000001S37010553600122,42,1,2,1977,1,1,6,1,2,2,4,1,2,2,2,2,2,2,1,1,1,2,1,2,1,1,2,2,1,2,6,889.888311,1742.625646,99,2022-01-26,2022-02-07,99999.9,99,99,99,99,99,99,99,99,99,99,99,99,99
2,V420000001S72011372810122,42,1,2,1972,2,1,1,1,1,2,3,1,2,1,1,1,1,1,1,1,1,2,1,2,2,2,2,2,1,2,99,6782.165176,13281.189141,99,2022-01-26,2022-02-07,99999.9,99,99,99,99,99,99,99,99,99,99,99,99,99
3,V420000001S79010265310112,42,1,2,1970,1,1,4,1,2,2,2,1,2,2,2,2,2,2,2,1,2,1,1,2,3,3,2,1,1,2,1,1239.306729,2426.874995,99,2022-01-26,2022-02-07,99999.9,99,99,99,99,99,99,99,99,99,99,99,99,99
4,V420000001S79010457210112,42,1,2,1982,1,2,3,5,2,2,3,1,1,2,2,2,2,1,1,1,1,1,1,4,4,4,99,3,1,1,99,4865.798158,9528.459419,99,2022-01-26,2022-02-07,99999.9,99,99,99,99,99,99,99,99,99,99,99,99,99

In [40]:
# Display 2q dataframe columns to determine which columns to rename
display("pulse2022_2q_analysis_clean_df columns before rename")
display(pulse2022_2q_analysis_clean_df.columns)

'pulse2022_2q_analysis_clean_df columns before rename'

Index(['SCRAM', 'WEEK', 'EST_ST', 'REGION', 'TBIRTH_YEAR', 'RHISPANIC',
       'RRACE', 'EEDUC', 'MS', 'GENID_DESCRIBE', 'SEXUAL_ORIENTATION',
       'THHLD_NUMPER', 'RECVDVACC', 'HADCOVID', 'ANXIOUS', 'WORRY', 'INTEREST',
       'DOWN', 'SEEING', 'HEARING', 'MOBILITY', 'REMEMBERING', 'WRKLOSSRV',
       'ANYWORK', 'KINDWORK', 'EXPNS_DIF', 'TWDAYS', 'CURFOODSUF', 'FREEFOOD',
       'TENURE', 'PRIVHLTH', 'PUBHLTH', 'INCOME', 'HWEIGHT', 'PWEIGHT',
       'WHENCOVID_CLEAN', 'SURVEY_START_DATE', 'SURVEY_END_DATE',
       'EST_MSA_CLEAN', 'LONGCOVID_PLUG', 'SELFCARE_PLUG', 'UNDERSTAND_PLUG',
       'TSPNDFOOD_PLUG', 'TSPNDPRPD_PLUG', 'WHENCOVID_PLUG',
       'SYMPTMIMPCT_PLUG', 'PRICECHNG_PLUG', 'PRICESTRESS_PLUG',
       'PRICECONCRN_PLUG', 'ND_DISPLACE_PLUG', 'MEDICAID_PLUG'],
      dtype='object')

In [41]:
# Rename 2q dataframe columns to make them easier to understand and align with other quarter files
pulse2022_2q_analysis_clean_df.columns = ['SCRAM', 'WEEK', 'STATE', 'REGION', 'BIRTH_YEAR',
                                          'HISPANIC', 'RACE', 'EDUCATION', 'MARITAL_STATUS', 'GENDER_IDENITY',
                                          'SEXUAL_ORIENTATION', 'TOTAL_HOUSEHOLD', 'RECVD_VAC', 'HAD_COVID',
                                          'ANXIOUS', 'WORRY', 'INTEREST', 'DOWN', 'SEEING', 'HEARING', 'MOBILITY',
                                          'REMEMBERING', 'JOBLOSS', 'EMPLOYED', 'WORK_SECTOR', 'EXPNS_DIF', 'WORK_REMOTE',
                                          'CURFOODSUF', 'REC_FREEFOOD', 'OWN_RENT', 'PRIVHLTH_INS', 'PUBHLTH_INS',
                                          'INCOME', 'HWEIGHT', 'PWEIGHT', 'HAD_COVID_WHEN',
                                          'SURVEY_START_DATE', 'SURVEY_END_DATE', 'METRO_AREA', 
                                          'LONG_COVID', 'SELFCARE', 'UNDERSTAND', 'TSPNDFOOD', 'TSPNDPRPD',
                                          'WHENCOVID', 'LONG_COVID_IMPACT', 'PRICECHNG', 'PRICESTRESS',
                                          'PRICECONCRN', 'ND_DISPLACE', 'MEDICAID']

display("pulse2022_2q_analysis_clean_df columns after rename")
display(pulse2022_2q_analysis_clean_df.columns)
display(pulse2022_2q_analysis_clean_df.head())

'pulse2022_2q_analysis_clean_df columns after rename'

Index(['SCRAM', 'WEEK', 'STATE', 'REGION', 'BIRTH_YEAR', 'HISPANIC', 'RACE',
       'EDUCATION', 'MARITAL_STATUS', 'GENDER_IDENITY', 'SEXUAL_ORIENTATION',
       'TOTAL_HOUSEHOLD', 'RECVD_VAC', 'HAD_COVID', 'ANXIOUS', 'WORRY',
       'INTEREST', 'DOWN', 'SEEING', 'HEARING', 'MOBILITY', 'REMEMBERING',
       'JOBLOSS', 'EMPLOYED', 'WORK_SECTOR', 'EXPNS_DIF', 'WORK_REMOTE',
       'CURFOODSUF', 'REC_FREEFOOD', 'OWN_RENT', 'PRIVHLTH_INS', 'PUBHLTH_INS',
       'INCOME', 'HWEIGHT', 'PWEIGHT', 'HAD_COVID_WHEN', 'SURVEY_START_DATE',
       'SURVEY_END_DATE', 'METRO_AREA', 'LONG_COVID', 'SELFCARE', 'UNDERSTAND',
       'TSPNDFOOD', 'TSPNDPRPD', 'WHENCOVID', 'LONG_COVID_IMPACT', 'PRICECHNG',
       'PRICESTRESS', 'PRICECONCRN', 'ND_DISPLACE', 'MEDICAID'],
      dtype='object')

,SCRAM,WEEK,STATE,REGION,BIRTH_YEAR,HISPANIC,RACE,EDUCATION,MARITAL_STATUS,GENDER_IDENITY,SEXUAL_ORIENTATION,TOTAL_HOUSEHOLD,RECVD_VAC,HAD_COVID,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,JOBLOSS,EMPLOYED,WORK_SECTOR,EXPNS_DIF,WORK_REMOTE,CURFOODSUF,REC_FREEFOOD,OWN_RENT,PRIVHLTH_INS,PUBHLTH_INS,INCOME,HWEIGHT,PWEIGHT,HAD_COVID_WHEN,SURVEY_START_DATE,SURVEY_END_DATE,METRO_AREA,LONG_COVID,SELFCARE,UNDERSTAND,TSPNDFOOD,TSPNDPRPD,WHENCOVID,LONG_COVID_IMPACT,PRICECHNG,PRICESTRESS,PRICECONCRN,ND_DISPLACE,MEDICAID
0,V450000001S33011934810112,45,1,2,1951,1,1,5,1,2,2,2,1,1,1,1,1,1,2,1,2,2,2,2,99,1,99,1,2,1,1,1,2,1440.933299,2800.788696,99,2022-04-27,2022-05-09,99999.9,99,99,99,99,99,99,99,99,99,99,99,99
1,V450000001S37010695700122,45,1,2,1955,1,1,4,1,1,2,2,99,2,3,2,1,1,2,1,1,1,2,1,4,2,2,1,2,1,3,1,4,1014.976345,1972.842377,99,2022-04-27,2022-05-09,99999.9,99,99,99,99,99,99,99,99,99,99,99,99
2,V450000001S37010923700112,45,1,2,1961,2,1,5,1,1,2,3,1,2,1,1,2,1,1,1,1,1,2,1,3,2,99,1,2,2,1,2,4,2987.998422,8711.803882,99,2022-04-27,2022-05-09,99999.9,99,99,99,99,99,99,99,99,99,99,99,99
3,V450000001S77010808800122,45,1,2,1976,1,1,6,1,1,2,2,1,2,2,1,2,2,2,1,1,1,2,1,3,1,1,1,2,2,1,2,6,1360.333168,2644.123613,99,2022-04-27,2022-05-09,99999.9,99,99,99,99,99,99,99,99,99,99,99,99
4,V450000001S98010434110122,45,1,2,1958,1,1,6,1,2,2,2,1,1,1,2,1,1,1,1,1,2,2,1,2,1,1,1,2,1,1,2,8,1629.541056,3167.391699,99,2022-04-27,2022-05-09,99999.9,99,99,99,99,99,99,99,99,99,99,99,99

In [42]:
# Display 3q dataframe columns to determine which columns to rename
display("pulse2022_3q_analysis_clean_df columns before rename")
display(pulse2022_3q_analysis_clean_df.columns)

'pulse2022_3q_analysis_clean_df columns before rename'

Index(['SCRAM', 'WEEK', 'EST_ST', 'REGION', 'TBIRTH_YEAR', 'RHISPANIC',
       'RRACE', 'EEDUC', 'MS', 'GENID_DESCRIBE', 'SEXUAL_ORIENTATION',
       'THHLD_NUMPER', 'RECVDVACC', 'HADCOVIDRV', 'LONGCOVID', 'ANXIOUS',
       'WORRY', 'INTEREST', 'DOWN', 'SEEING', 'HEARING', 'MOBILITY',
       'REMEMBERING', 'SELFCARE', 'UNDERSTAND', 'WRKLOSSRV', 'ANYWORK',
       'KINDWORK', 'EXPNS_DIF', 'TWDAYS', 'CURFOODSUF', 'FREEFOOD',
       'TSPNDFOOD', 'TSPNDPRPD', 'TENURE', 'PRIVHLTH', 'PUBHLTH', 'INCOME',
       'HWEIGHT', 'PWEIGHT', 'WHENCOVID', 'WHENCOVID_CLEAN',
       'SURVEY_START_DATE', 'SURVEY_END_DATE', 'EST_MSA_CLEAN',
       'SYMPTMIMPCT_PLUG', 'PRICECHNG_PLUG', 'PRICESTRESS_PLUG',
       'PRICECONCRN_PLUG', 'ND_DISPLACE_PLUG', 'MEDICAID_PLUG'],
      dtype='object')

In [43]:
# Rename 3q dataframe columns to make them easier to understand and align with other quarter files
pulse2022_3q_analysis_clean_df.columns = ['SCRAM', 'WEEK', 'STATE', 'REGION', 'BIRTH_YEAR',
                                          'HISPANIC', 'RACE', 'EDUCATION', 'MARITAL_STATUS', 'GENDER_IDENITY',
                                          'SEXUAL_ORIENTATION', 'TOTAL_HOUSEHOLD', 'RECVD_VAC', 'HAD_COVID',
                                          'LONG_COVID', 'ANXIOUS', 'WORRY', 'INTEREST', 'DOWN', 'SEEING',
                                          'HEARING', 'MOBILITY', 'REMEMBERING', 'SELFCARE', 'UNDERSTAND', 'JOBLOSS',
                                          'EMPLOYED', 'WORK_SECTOR', 'EXPNS_DIF', 'WORK_REMOTE', 'CURFOODSUF',
                                          'REC_FREEFOOD', 'TSPNDFOOD', 'TSPNDPRPD', 'OWN_RENT', 'PRIVHLTH_INS',
                                          'PUBHLTH_INS', 'INCOME', 'HWEIGHT', 'PWEIGHT', 'WHENCOVID',
                                          'HAD_COVID_WHEN', 'SURVEY_START_DATE', 'SURVEY_END_DATE', 'METRO_AREA', 
                                          'LONG_COVID_IMPACT', 'PRICECHNG', 'PRICESTRESS', 'PRICECONCRN',
                                          'ND_DISPLACE', 'MEDICAID']

display("pulse2022_3q_analysis_clean_df columns after rename")
display(pulse2022_3q_analysis_clean_df.columns)
display(pulse2022_3q_analysis_clean_df.head())

'pulse2022_3q_analysis_clean_df columns after rename'

Index(['SCRAM', 'WEEK', 'STATE', 'REGION', 'BIRTH_YEAR', 'HISPANIC', 'RACE',
       'EDUCATION', 'MARITAL_STATUS', 'GENDER_IDENITY', 'SEXUAL_ORIENTATION',
       'TOTAL_HOUSEHOLD', 'RECVD_VAC', 'HAD_COVID', 'LONG_COVID', 'ANXIOUS',
       'WORRY', 'INTEREST', 'DOWN', 'SEEING', 'HEARING', 'MOBILITY',
       'REMEMBERING', 'SELFCARE', 'UNDERSTAND', 'JOBLOSS', 'EMPLOYED',
       'WORK_SECTOR', 'EXPNS_DIF', 'WORK_REMOTE', 'CURFOODSUF', 'REC_FREEFOOD',
       'TSPNDFOOD', 'TSPNDPRPD', 'OWN_RENT', 'PRIVHLTH_INS', 'PUBHLTH_INS',
       'INCOME', 'HWEIGHT', 'PWEIGHT', 'WHENCOVID', 'HAD_COVID_WHEN',
       'SURVEY_START_DATE', 'SURVEY_END_DATE', 'METRO_AREA',
       'LONG_COVID_IMPACT', 'PRICECHNG', 'PRICESTRESS', 'PRICECONCRN',
       'ND_DISPLACE', 'MEDICAID'],
      dtype='object')

,SCRAM,WEEK,STATE,REGION,BIRTH_YEAR,HISPANIC,RACE,EDUCATION,MARITAL_STATUS,GENDER_IDENITY,SEXUAL_ORIENTATION,TOTAL_HOUSEHOLD,RECVD_VAC,HAD_COVID,LONG_COVID,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,SELFCARE,UNDERSTAND,JOBLOSS,EMPLOYED,WORK_SECTOR,EXPNS_DIF,WORK_REMOTE,CURFOODSUF,REC_FREEFOOD,TSPNDFOOD,TSPNDPRPD,OWN_RENT,PRIVHLTH_INS,PUBHLTH_INS,INCOME,HWEIGHT,PWEIGHT,WHENCOVID,HAD_COVID_WHEN,SURVEY_START_DATE,SURVEY_END_DATE,METRO_AREA,LONG_COVID_IMPACT,PRICECHNG,PRICESTRESS,PRICECONCRN,ND_DISPLACE,MEDICAID
0,V480000001,48,41,4,1946,1,1,5,3,2,2,1,1,2,99,1,1,2,1,1,2,2,2,1,1,2,2,99,2,4,2,2,0,0,3,2,1,2,1411.203878,1261.919425,99,99,2022-07-27,2022-08-08,99999.9,99,99,99,99,99,99
1,V480000002,48,31,3,1958,1,1,5,1,1,2,4,1,2,99,99,99,99,99,99,99,99,99,99,99,2,2,99,99,99,99,99,99,99,99,3,3,99,1021.299839,3735.204079,99,99,2022-07-27,2022-08-08,99999.9,99,99,99,99,99,99
2,V480000003,48,17,3,1971,2,1,3,4,2,4,6,1,2,99,4,3,2,3,2,2,1,1,1,1,1,2,99,4,4,2,2,550,75,3,2,2,1,13111.143310,49438.385982,99,99,2022-07-27,2022-08-08,16980.0,99,99,99,99,99,99
3,V480000004,48,13,2,1967,1,2,7,2,2,2,6,1,1,1,1,2,2,2,2,1,3,1,1,1,2,1,1,1,3,1,2,300,260,2,1,2,4,2123.268644,10637.705782,2,2,2022-07-27,2022-08-08,12060.0,99,99,99,99,99,99
4,V480000005,48,33,1,1977,1,1,6,3,2,2,5,1,2,99,3,3,2,1,1,1,2,2,1,1,2,1,4,3,4,2,2,850,50,2,3,1,2,343.061621,1357.461102,99,99,2022-07-27,2022-08-08,99999.9,99,99,99,99,99,99

In [44]:
# Display 4q dataframe columns to determine which columns to rename
display("pulse2022_4q_analysis_clean_df columns before rename")
display(pulse2022_4q_analysis_clean_df.columns)

'pulse2022_4q_analysis_clean_df columns before rename'

Index(['SCRAM', 'WEEK', 'EST_ST', 'REGION', 'TBIRTH_YEAR', 'RHISPANIC',
       'RRACE', 'EEDUC', 'MS', 'GENID_DESCRIBE', 'SEXUAL_ORIENTATION',
       'THHLD_NUMPER', 'RECVDVACC', 'HADCOVIDRV', 'LONGCOVID', 'SYMPTMIMPCT',
       'ANXIOUS', 'WORRY', 'INTEREST', 'DOWN', 'SEEING', 'HEARING', 'MOBILITY',
       'REMEMBERING', 'SELFCARE', 'UNDERSTAND', 'WRKLOSSRV', 'ANYWORK',
       'KINDWORK', 'PRICECHNG', 'PRICESTRESS', 'PRICECONCRN', 'EXPNS_DIF',
       'TWDAYS', 'CURFOODSUF', 'FREEFOOD', 'TSPNDFOOD', 'TSPNDPRPD',
       'ND_DISPLACE', 'TENURE', 'PRIVHLTH', 'PUBHLTH', 'MEDICAID', 'INCOME',
       'HWEIGHT', 'PWEIGHT', 'WHENCOVID', 'WHENCOVID_CLEAN',
       'SURVEY_START_DATE', 'SURVEY_END_DATE', 'EST_MSA_CLEAN'],
      dtype='object')

In [45]:
# Rename 4q dataframe columns to make them easier to understand and align with other quarter files
pulse2022_4q_analysis_clean_df.columns = ['SCRAM', 'WEEK', 'STATE', 'REGION', 'BIRTH_YEAR',
                                          'HISPANIC', 'RACE', 'EDUCATION', 'MARITAL_STATUS', 'GENDER_IDENITY',
                                          'SEXUAL_ORIENTATION', 'TOTAL_HOUSEHOLD', 'RECVD_VAC', 'HAD_COVID',
                                          'LONG_COVID', 'LONG_COVID_IMPACT', 'ANXIOUS', 'WORRY', 'INTEREST', 'DOWN',
                                          'SEEING', 'HEARING', 'MOBILITY', 'REMEMBERING', 'SELFCARE', 'UNDERSTAND',
                                          'JOBLOSS', 'EMPLOYED', 'WORK_SECTOR', 'PRICECHNG', 'PRICESTRESS',
                                          'PRICECONCRN', 'EXPNS_DIF', 'WORK_REMOTE', 'CURFOODSUF', 'REC_FREEFOOD',
                                          'TSPNDFOOD', 'TSPNDPRPD', 'ND_DISPLACE', 'OWN_RENT', 'PRIVHLTH_INS',
                                          'PUBHLTH_INS', 'MEDICAID', 'INCOME', 'HWEIGHT', 'PWEIGHT', 'WHENCOVID',
                                          'HAD_COVID_WHEN', 'SURVEY_START_DATE', 'SURVEY_END_DATE', 'METRO_AREA']                         

display("pulse2022_4q_analysis_clean_df columns after rename")
display(pulse2022_4q_analysis_clean_df.columns)
display(pulse2022_4q_analysis_clean_df.head())

'pulse2022_4q_analysis_clean_df columns after rename'

Index(['SCRAM', 'WEEK', 'STATE', 'REGION', 'BIRTH_YEAR', 'HISPANIC', 'RACE',
       'EDUCATION', 'MARITAL_STATUS', 'GENDER_IDENITY', 'SEXUAL_ORIENTATION',
       'TOTAL_HOUSEHOLD', 'RECVD_VAC', 'HAD_COVID', 'LONG_COVID',
       'LONG_COVID_IMPACT', 'ANXIOUS', 'WORRY', 'INTEREST', 'DOWN', 'SEEING',
       'HEARING', 'MOBILITY', 'REMEMBERING', 'SELFCARE', 'UNDERSTAND',
       'JOBLOSS', 'EMPLOYED', 'WORK_SECTOR', 'PRICECHNG', 'PRICESTRESS',
       'PRICECONCRN', 'EXPNS_DIF', 'WORK_REMOTE', 'CURFOODSUF', 'REC_FREEFOOD',
       'TSPNDFOOD', 'TSPNDPRPD', 'ND_DISPLACE', 'OWN_RENT', 'PRIVHLTH_INS',
       'PUBHLTH_INS', 'MEDICAID', 'INCOME', 'HWEIGHT', 'PWEIGHT', 'WHENCOVID',
       'HAD_COVID_WHEN', 'SURVEY_START_DATE', 'SURVEY_END_DATE', 'METRO_AREA'],
      dtype='object')

,SCRAM,WEEK,STATE,REGION,BIRTH_YEAR,HISPANIC,RACE,EDUCATION,MARITAL_STATUS,GENDER_IDENITY,SEXUAL_ORIENTATION,TOTAL_HOUSEHOLD,RECVD_VAC,HAD_COVID,LONG_COVID,LONG_COVID_IMPACT,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,SELFCARE,UNDERSTAND,JOBLOSS,EMPLOYED,WORK_SECTOR,PRICECHNG,PRICESTRESS,PRICECONCRN,EXPNS_DIF,WORK_REMOTE,CURFOODSUF,REC_FREEFOOD,TSPNDFOOD,TSPNDPRPD,ND_DISPLACE,OWN_RENT,PRIVHLTH_INS,PUBHLTH_INS,MEDICAID,INCOME,HWEIGHT,PWEIGHT,WHENCOVID,HAD_COVID_WHEN,SURVEY_START_DATE,SURVEY_END_DATE,METRO_AREA
0,V520000001,52,44,1,1968,1,1,7,1,2,2,4,1,2,99,99,1,1,1,2,3,1,4,1,4,1,2,2,99,1,3,3,1,4,1,2,200,100,2,1,1,2,3,5,297.631871,1123.798115,99,99,2022-12-09,2022-12-19,99999.9
1,V520000002,52,5,2,1959,1,1,6,1,2,2,2,1,2,99,99,1,1,1,1,99,99,99,99,99,99,2,2,99,1,3,2,1,4,1,2,400,140,2,99,1,2,3,99,544.644346,1009.342253,99,99,2022-12-09,2022-12-19,99999.9
2,V520000003,52,48,2,1946,1,1,6,1,1,2,2,1,1,2,99,2,2,2,2,1,2,2,2,1,1,2,2,99,1,3,1,2,4,1,2,120,50,2,1,3,1,99,6,187.423803,346.468149,2,2,2022-12-09,2022-12-19,99999.9
3,V520000004,52,11,2,1984,1,1,6,1,1,1,2,1,2,99,99,2,1,1,1,1,1,1,2,1,1,2,1,1,1,2,3,1,3,1,2,150,200,2,3,1,2,3,7,116.768607,199.033089,99,99,2022-12-09,2022-12-19,47900.0
4,V520000005,52,28,2,1963,1,1,5,1,2,2,2,1,1,2,99,2,2,2,2,1,1,1,1,1,1,1,2,99,1,2,1,3,4,2,2,70,0,2,2,2,2,3,3,700.047941,1329.911657,2,2,2022-12-09,2022-12-19,99999.9

In [46]:
# Display 2022 survey file shape
display(pulse2022_1q_analysis_clean_df.shape)
display(pulse2022_2q_analysis_clean_df.shape)
display(pulse2022_3q_analysis_clean_df.shape)
display(pulse2022_4q_analysis_clean_df.shape)

(75482, 51)

(61767, 51)

(46801, 51)

(70685, 51)

In [47]:
# Reorder survey columns that will be used for analysis
all_analysis_cols = ['SURVEY_START_DATE', 'SURVEY_END_DATE', 'REGION', 'STATE', 'METRO_AREA','BIRTH_YEAR', 'HISPANIC',
                     'RACE', 'EDUCATION', 'MARITAL_STATUS', 'GENDER_IDENITY', 'SEXUAL_ORIENTATION', 'HAD_COVID',
                     'HAD_COVID_WHEN', 'LONG_COVID', 'LONG_COVID_IMPACT','ANXIOUS', 'WORRY', 'INTEREST', 'DOWN',
                     'SEEING', 'HEARING', 'MOBILITY', 'REMEMBERING', 'SELFCARE', 'UNDERSTAND', 'JOBLOSS', 'EMPLOYED',
                     'WORK_SECTOR', 'WORK_REMOTE', 'PRIVHLTH_INS', 'PUBHLTH_INS','MEDICAID', 'INCOME',                   
                     'TOTAL_HOUSEHOLD', 'RECVD_VAC', 'EXPNS_DIF', 'CURFOODSUF', 'REC_FREEFOOD', 'OWN_RENT', 'PRICECHNG',
                     'PRICESTRESS', 'PRICECONCRN', 'TSPNDFOOD', 'TSPNDPRPD', 'ND_DISPLACE', 'SCRAM', 'WEEK', 'HWEIGHT',
                     'PWEIGHT', 'WHENCOVID']


# Create new dataframe for analysis
pulse2022_1q_analysis_focused_all_cols_df = pulse2022_1q_analysis_clean_df[all_analysis_cols]
pulse2022_2q_analysis_focused_all_cols_df = pulse2022_2q_analysis_clean_df[all_analysis_cols]
pulse2022_3q_analysis_focused_all_cols_df = pulse2022_3q_analysis_clean_df[all_analysis_cols]
pulse2022_4q_analysis_focused_all_cols_df = pulse2022_4q_analysis_clean_df[all_analysis_cols]

#Drop 'WHNECOVID' column because it is a duplicate of HAD_COVID_WHEN column
pulse2022_1q_analysis_focused_all_cols_df = pulse2022_1q_analysis_focused_all_cols_df.drop(['WHENCOVID'], axis=1)
pulse2022_2q_analysis_focused_all_cols_df = pulse2022_2q_analysis_focused_all_cols_df.drop(['WHENCOVID'], axis=1)
pulse2022_3q_analysis_focused_all_cols_df = pulse2022_3q_analysis_focused_all_cols_df.drop(['WHENCOVID'], axis=1)
pulse2022_4q_analysis_focused_all_cols_df = pulse2022_4q_analysis_focused_all_cols_df.drop(['WHENCOVID'], axis=1)
print("pulse2022 1q_4q analysis_focused_all_cols_df dataframes created")

pulse2022 1q_4q analysis_focused_all_cols_df dataframes created

In [48]:
# Concatenate 4 quarters of survey data to create 2021 all columns file
pulse2022_survey_data_all_cols_df = pd.concat([pulse2022_1q_analysis_focused_all_cols_df,
                                               pulse2022_2q_analysis_focused_all_cols_df,
                                               pulse2022_3q_analysis_focused_all_cols_df,
                                               pulse2022_4q_analysis_focused_all_cols_df],
                                               ignore_index=True)

In [49]:
# Save 2022 all columns survey file for analysis
pulse2022_survey_data_all_cols_df.to_csv('Resources/pulse2022_survey_data_all_cols.csv', index=False)
print("pulse2022_survey_data_all_cols.csv file saved")

pulse2022_survey_data_all_cols.csv file saved

In [50]:
# Display 2022 survey all columns file shape
display(pulse2022_survey_data_all_cols_df.shape)

(254735, 50)

In [51]:
print("pulse2022_survey_data_all_cols is ready for analysis")

pulse2022_survey_data_all_cols is ready for analysis

In [52]:
# Reduce and reorder survey columns that will be used for analysis
analysis_cols = ['SURVEY_START_DATE', 'SURVEY_END_DATE', 'REGION', 'STATE', 'METRO_AREA','BIRTH_YEAR', 'HISPANIC',
                 'RACE', 'EDUCATION', 'MARITAL_STATUS', 'GENDER_IDENITY', 'SEXUAL_ORIENTATION', 'HAD_COVID',
                 'HAD_COVID_WHEN', 'LONG_COVID', 'LONG_COVID_IMPACT','ANXIOUS', 'WORRY', 'INTEREST', 'DOWN',
                 'SEEING', 'HEARING', 'MOBILITY', 'REMEMBERING', 'SELFCARE', 'UNDERSTAND', 'JOBLOSS', 'EMPLOYED',
                 'WORK_SECTOR', 'WORK_REMOTE', 'PRIVHLTH_INS', 'PUBHLTH_INS','MEDICAID', 'INCOME']

# Create new analysis dataframes
pulse2022_1q_analysis_focused_df = pulse2022_1q_analysis_clean_df[analysis_cols]
pulse2022_2q_analysis_focused_df = pulse2022_2q_analysis_clean_df[analysis_cols]
pulse2022_3q_analysis_focused_df = pulse2022_3q_analysis_clean_df[analysis_cols]
pulse2022_4q_analysis_focused_df = pulse2022_4q_analysis_clean_df[analysis_cols]

In [53]:
# Display first 5 rows of analysis dataframes
display(pulse2022_1q_analysis_focused_df.head())
display(pulse2022_2q_analysis_focused_df.head())
display(pulse2022_3q_analysis_focused_df.head())
display(pulse2022_4q_analysis_focused_df.head())

,SURVEY_START_DATE,SURVEY_END_DATE,REGION,STATE,METRO_AREA,BIRTH_YEAR,HISPANIC,RACE,EDUCATION,MARITAL_STATUS,GENDER_IDENITY,SEXUAL_ORIENTATION,HAD_COVID,HAD_COVID_WHEN,LONG_COVID,LONG_COVID_IMPACT,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,SELFCARE,UNDERSTAND,JOBLOSS,EMPLOYED,WORK_SECTOR,WORK_REMOTE,PRIVHLTH_INS,PUBHLTH_INS,MEDICAID,INCOME
0,2022-01-26,2022-02-07,2,1,99999.9,1956,1,1,4,1,2,2,1,99,99,99,2,1,1,1,1,1,3,1,99,99,99,1,2,99,2,1,99,3
1,2022-01-26,2022-02-07,2,1,99999.9,1977,1,1,6,1,2,2,2,99,99,99,2,2,2,2,2,1,1,1,99,99,2,1,2,99,1,2,99,6
2,2022-01-26,2022-02-07,2,1,99999.9,1972,2,1,1,1,1,2,2,99,99,99,1,1,1,1,1,1,1,1,99,99,2,1,2,99,1,2,99,99
3,2022-01-26,2022-02-07,2,1,99999.9,1970,1,1,4,1,2,2,2,99,99,99,2,2,2,2,2,2,1,2,99,99,1,1,2,99,1,2,99,1
4,2022-01-26,2022-02-07,2,1,99999.9,1982,1,2,3,5,2,2,1,99,99,99,2,2,2,2,1,1,1,1,99,99,1,1,4,99,1,1,99,99

,SURVEY_START_DATE,SURVEY_END_DATE,REGION,STATE,METRO_AREA,BIRTH_YEAR,HISPANIC,RACE,EDUCATION,MARITAL_STATUS,GENDER_IDENITY,SEXUAL_ORIENTATION,HAD_COVID,HAD_COVID_WHEN,LONG_COVID,LONG_COVID_IMPACT,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,SELFCARE,UNDERSTAND,JOBLOSS,EMPLOYED,WORK_SECTOR,WORK_REMOTE,PRIVHLTH_INS,PUBHLTH_INS,MEDICAID,INCOME
0,2022-04-27,2022-05-09,2,1,99999.9,1951,1,1,5,1,2,2,1,99,99,99,1,1,1,1,2,1,2,2,99,99,2,2,99,99,1,1,99,2
1,2022-04-27,2022-05-09,2,1,99999.9,1955,1,1,4,1,1,2,2,99,99,99,3,2,1,1,2,1,1,1,99,99,2,1,4,2,3,1,99,4
2,2022-04-27,2022-05-09,2,1,99999.9,1961,2,1,5,1,1,2,2,99,99,99,1,1,2,1,1,1,1,1,99,99,2,1,3,99,1,2,99,4
3,2022-04-27,2022-05-09,2,1,99999.9,1976,1,1,6,1,1,2,2,99,99,99,2,1,2,2,2,1,1,1,99,99,2,1,3,1,1,2,99,6
4,2022-04-27,2022-05-09,2,1,99999.9,1958,1,1,6,1,2,2,1,99,99,99,1,2,1,1,1,1,1,2,99,99,2,1,2,1,1,2,99,8

,SURVEY_START_DATE,SURVEY_END_DATE,REGION,STATE,METRO_AREA,BIRTH_YEAR,HISPANIC,RACE,EDUCATION,MARITAL_STATUS,GENDER_IDENITY,SEXUAL_ORIENTATION,HAD_COVID,HAD_COVID_WHEN,LONG_COVID,LONG_COVID_IMPACT,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,SELFCARE,UNDERSTAND,JOBLOSS,EMPLOYED,WORK_SECTOR,WORK_REMOTE,PRIVHLTH_INS,PUBHLTH_INS,MEDICAID,INCOME
0,2022-07-27,2022-08-08,4,41,99999.9,1946,1,1,5,3,2,2,2,99,99,99,1,1,2,1,1,2,2,2,1,1,2,2,99,4,2,1,99,2
1,2022-07-27,2022-08-08,3,31,99999.9,1958,1,1,5,1,1,2,2,99,99,99,99,99,99,99,99,99,99,99,99,99,2,2,99,99,3,3,99,99
2,2022-07-27,2022-08-08,3,17,16980.0,1971,2,1,3,4,2,4,2,99,99,99,4,3,2,3,2,2,1,1,1,1,1,2,99,4,2,2,99,1
3,2022-07-27,2022-08-08,2,13,12060.0,1967,1,2,7,2,2,2,1,2,1,99,1,2,2,2,2,1,3,1,1,1,2,1,1,3,1,2,99,4
4,2022-07-27,2022-08-08,1,33,99999.9,1977,1,1,6,3,2,2,2,99,99,99,3,3,2,1,1,1,2,2,1,1,2,1,4,4,3,1,99,2

,SURVEY_START_DATE,SURVEY_END_DATE,REGION,STATE,METRO_AREA,BIRTH_YEAR,HISPANIC,RACE,EDUCATION,MARITAL_STATUS,GENDER_IDENITY,SEXUAL_ORIENTATION,HAD_COVID,HAD_COVID_WHEN,LONG_COVID,LONG_COVID_IMPACT,ANXIOUS,WORRY,INTEREST,DOWN,SEEING,HEARING,MOBILITY,REMEMBERING,SELFCARE,UNDERSTAND,JOBLOSS,EMPLOYED,WORK_SECTOR,WORK_REMOTE,PRIVHLTH_INS,PUBHLTH_INS,MEDICAID,INCOME
0,2022-12-09,2022-12-19,1,44,99999.9,1968,1,1,7,1,2,2,2,99,99,99,1,1,1,2,3,1,4,1,4,1,2,2,99,4,1,2,3,5
1,2022-12-09,2022-12-19,2,5,99999.9,1959,1,1,6,1,2,2,2,99,99,99,1,1,1,1,99,99,99,99,99,99,2,2,99,4,1,2,3,99
2,2022-12-09,2022-12-19,2,48,99999.9,1946,1,1,6,1,1,2,1,2,2,99,2,2,2,2,1,2,2,2,1,1,2,2,99,4,3,1,99,6
3,2022-12-09,2022-12-19,2,11,47900.0,1984,1,1,6,1,1,1,2,99,99,99,2,1,1,1,1,1,1,2,1,1,2,1,1,3,1,2,3,7
4,2022-12-09,2022-12-19,2,28,99999.9,1963,1,1,5,1,2,2,1,2,2,99,2,2,2,2,1,1,1,1,1,1,1,2,99,4,2,2,3,3

In [54]:
# Concatenate 4 quarters of survey data to create 2022 file
pulse2022_survey_data_df = pd.concat([pulse2022_1q_analysis_focused_df, pulse2022_2q_analysis_focused_df,
                                           pulse2022_3q_analysis_focused_df, pulse2022_4q_analysis_focused_df],
                                           ignore_index=True)

In [55]:
# Save 2022 survey file for analysis
pulse2022_survey_data_df.to_csv('Resources/pulse2022_survey_data.csv', index=False)
print("pulse2022_survey_data.csv file saved")

pulse2022_survey_data.csv file saved

In [56]:
# Display 2022 survey file columns
display(pulse2022_survey_data_df.columns)

Index(['SURVEY_START_DATE', 'SURVEY_END_DATE', 'REGION', 'STATE', 'METRO_AREA',
       'BIRTH_YEAR', 'HISPANIC', 'RACE', 'EDUCATION', 'MARITAL_STATUS',
       'GENDER_IDENITY', 'SEXUAL_ORIENTATION', 'HAD_COVID', 'HAD_COVID_WHEN',
       'LONG_COVID', 'LONG_COVID_IMPACT', 'ANXIOUS', 'WORRY', 'INTEREST',
       'DOWN', 'SEEING', 'HEARING', 'MOBILITY', 'REMEMBERING', 'SELFCARE',
       'UNDERSTAND', 'JOBLOSS', 'EMPLOYED', 'WORK_SECTOR', 'WORK_REMOTE',
       'PRIVHLTH_INS', 'PUBHLTH_INS', 'MEDICAID', 'INCOME'],
      dtype='object')

In [57]:
# Display 2022 survey file shape
display(pulse2022_survey_data_df.shape)

(254735, 34)

In [58]:
print("pulse2022_survey_data is ready for analysis")

pulse2022_survey_data is ready for analysis